/*IMPORT*/

@font-face {
  font-family: bodoniOrnaments;
  src: url(../fonts/bodoni-ornaments.ttf);
}

@font-face {
  font-family: LatinotypeShowcaseOrnaments;
  src: url(../fonts/LatinotypeShowcaseOrnaments.otf);
}


/*DEFAULT*/

* {
  outline: none !important;
}

body {
  font-family: 'Lato', sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

section {
  padding-top: 100px;
  background-color: #f4f4f4;
}

h1 {
  font-family: 'Bad Script', cursive;
  font-size: 48px;
  color: #000000;
}

h2 {
  font-family: 'Bad Script', cursive;
  font-size: 40px;
  margin: 0 0 35px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #343434;
  line-height: 26px;
  margin: 0 0 10px;
}

h3 b {
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  color: #343434;
  margin: 0 0 10px;
}

hr {
  border-color: #e7e7e7;
}

a {
  font-weight: 500;
  color: #3ea3d7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #317fa7;
}

p a {
  text-decoration: underline;
  font-weight: 700;
}


/*GENERICS*/

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-10 {
  margin-bottom: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-30 {
  margin-bottom: 20px !important;
}

.m-b-40 {
  margin-bottom: 20px !important;
}

.m-b-50 {
  margin-bottom: 20px !important;
}

.title h4 {
  font-family: 'Bad Script', cursive;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  color: #aa231f;
  margin-top: 70px;
}


/*BOX TEXT*/

.box-text {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.box-text .border {
  border: 1px solid #dddddd;
  padding: 30px !important;
}

.box-text h1 {
  color: #aa231f;
  margin: 0 0 15px;
}

.box-text h2 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 29px;
  font-weight: 400;
  color: #aa231f;
  margin: 0 0 25px;
}

.box-text p {
  font-size: 22px;
  font-weight: 300;
  color: #343434;
}


/*GRID*/

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}

.block {
  padding: 50px 0;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%
}

.col-height {
  display: table-cell;
  float: none;
}

.col-top {
  vertical-align: top
}

.col-middle {
  vertical-align: middle
}

.col-bottom {
  vertical-align: bottom
}


/*EFECTS*/

.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover:hover {
  opacity: 0.7;
}


/*ALIGN*/

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


/*BANNER HOME*/

.carousel {
  height: 100%;
  height: calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -ms-calc(100% - 100px);
  height: -o-calc(100% - 100px);
  min-height: 400px;
  position: relative;
}

.carousel-inner {
  height: 570px;
}

.carousel .item,
.carousel .item .container,
.carousel .item .row,
.carousel .item [class*="col-"] {
  height: 100%;
}

.carousel .item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  margin-bottom: 0 !important;
  min-height: inherit !important;
}

.carousel .item .container {
  position: relative;
}

.carousel .box-text {
  width: 830px;
  max-width: 100%;
}

.carousel .box-text p {
  font-size: 25px;
  width: 630px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.42857143;
  text-align: center;
}

#banner .box-text h1 {
  font-size: 26px;
  font-weight: 400;
}

#banner .box-text p {
  font-size: 18px;
  font-weight: 300;
}

#banner .box-text .form-group {
  margin-bottom: 20px;
}

#banner .carousel-box-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#banner .carousel-box-form .container,
#banner .carousel-box-form .row,
#banner .carousel-box-form .col-md-6.col-md-push-5 {
  height: 100%;
}


/*ABOUT*/

.about {
  background-color: #cb5428;
  margin-bottom: 60px;
}

.about .block {
  padding-bottom: 0;
}

.about .bottom {
  background-color: #95191a;
  padding: 20px 0;
  height: inherit !important;
}

.about .caixa {
  margin-bottom: -130px;
  position: relative;
  top: 3px;
}

.about h2 {
  color: #ffffff;
}

.about h3 {
  font-family: 'Bad Script', cursive;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.about p {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 26px;
  margin: 0 0 15px;
}


/*LIST ICON*/

.list-icon ul {
  margin: 0;
  padding: 0;
}

.list-icon li {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 10px;
  text-indent: -14px;
  padding-left: 27px;
}

.list-icon li:before {
  display: inline-block;
  content: "^";
  font-family: bodoniOrnaments;
  color: #95191a;
  margin-right: 10px;
}


/*MODAL*/

.modal {
  z-index: 9999 !important;
}

.bootstrap-dialog.type-warning .modal-header {
  background-color: #ffcc44;
}

.modal-dialog {
  width: 490px;
  max-width: 100%;
}

.modal-content {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.modal-body {
  padding: 50px 0;
}


/*GRID*/

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}

.block {
  padding: 50px 0;
}

.bottom {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  background-color: #f4f4f4;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}


/*FONT*/

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.size-4 {
  font-size: 4px !important;
}

.size-6 {
  font-size: 6px !important;
}

.size-8 {
  font-size: 8px !important;
}

.size-10 {
  font-size: 10px !important;
}

.size-12 {
  font-size: 12px !important;
}

.size-14 {
  font-size: 14px !important;
}

.size-16 {
  font-size: 16px !important;
}

.size-18 {
  font-size: 18px !important;
}

.size-20 {
  font-size: 20px !important;
}

.size-22 {
  font-size: 22px !important;
}

.size-24 {
  font-size: 24px !important;
}

.size-26 {
  font-size: 26px !important;
}

.size-28 {
  font-size: 28px !important;
}

.size-30 {
  font-size: 30px !important;
}

.size-32 {
  font-size: 32px !important;
}

.size-34 {
  font-size: 34px !important;
}

.size-36 {
  font-size: 36px !important;
}

.size-38 {
  font-size: 38px !important;
}

.size-40 {
  font-size: 40px !important;
}


/*COLOR*/

.cl-ffffff {
  color: #ffffff !important;
}

.cl-666666 {
  color: #666666 !important;
}

.cl-ffcc44 {
  color: #ffcc44 !important;
}

.cl-95191a {
  color: #95191a !important;
}

.cl-aa231f {
  color: #aa231f !important;
}


/*BACKGROUND COLOR*/

.bg-transparent {
  background-color: transparent !important;
}

.bg-ffffff {
  background-color: #fff !important;
}

.alert {
  padding: 30px;
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 16px;
}

.alert a {
  font-weight: 400;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.alert a:hover {
  opacity: 0.7;
}

.alert .icon {
  font-size: 50px;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
}

.alert [class*="ion-"] {
  font-size: 50px;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  color: #fff;
}

.alert .ion-ios-paperplane-outline {
  font-size: 80px;
  line-height: 0;
  height: 67px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-top: -20px;
}

.alert p {
  margin-left: 15px;
  font-weight: 300;
}

.alert p a {
  font-weight: 300;
}

.alert-info {
  background-color: #3ea3d7;
  color: #fff;
}

.alert-warning {
  background-color: #ffcc44;
  color: #343434;
}

.alert-2 {
  padding: 14px;
  border-radius: 3px;
}

.alert-2 h4 {
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  margin: 0;
  display: inline-block;
}


/*FORM*/

label {
  font-size: 16px;
  font-weight: 900;
  color: #000000;
  margin: 0 0 10px;
}

label a {
  font-size: 16px;
  color: #3ea3d7;
  margin-left: 10px;
}

label span {
  font-size: 16px;
  font-weight: 400;
  color: #343434;
}

.form-control {
  height: 40px;
  font-size: 16px;
  color: #343434;
  font-weight: 300;
  border-radius: 3px;
  padding: 6px 20px;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #ddd;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #999999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
}

.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #f3f3f3;
  border-color: #ddd;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.form-control[disabled].opacity,
.form-control[readonly].opacity,
fieldset[disabled] .form-control.opacity {
  background-color: #fff;
  opacity: 0.6;
}

.no-resize {
  resize: none;
}

.input-group .btn {
  padding: 9px 12px;
}


/*SELECT2*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
  background-color: #ffcc44;
  color: #343434 !important;
  border: none;
  height: 40px !important;
  line-height: 40px !important;
  border-radius: 3px;
}

.select2-container--default .select2-selection--single {
  border: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single {
  height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
}

.select2-search--dropdown {
  display: none;
}

.select2-dropdown,
.select2-container--default .select2-results>.select2-results__options {
  border-color: #ddd;
  border-radius: 3px;
}

.select2-results__options {
  padding: 0 13px;
}

.select2-results__option {
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: inherit;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fff0c7;
  color: inherit;
}


/*BUTTON*/

.btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-lg {
  font-size: 16px;
  padding: 8.5px 15px;
  border-radius: 3px;
}

.btn-lg-2 {
  font-size: 14px;
  padding: 9px 15px;
}

.btn-info {
  background-color: #3ea3d7 !important;
  border-color: #3ea3d7 !important;
}

.btn-info:hover {
  background-color: #3280a9 !important;
  border-color: #3280a9 !important;
}

.btn-success {
  background-color: #2c9627 !important;
  border-color: #2c9627 !important;
}

.btn-success:hover {
  background-color: #22771e !important;
  border-color: #22771e !important;
}

.btn-gray {
  background-color: #666666 !important;
  border-color: #666666 !important;
  color: #fff !important;
}

.btn-gray:hover {
  background-color: #222222 !important;
  border-color: #222222 !important;
}

.btn-facebook {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  color: #fff !important;
}

.btn-facebook:hover {
  background-color: #25375d !important;
  border-color: #25375d !important;
}

.btn-white {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.btn-white:hover {
  background-color: #ccc !important;
  border-color: #ccc !important;
}

.btn-warning {
  background-color: #ffcc44 !important;
  border-color: #ffcc44 !important;
  color: #000 !important;
}

.btn-warning:hover {
  background-color: #d0a638 !important;
  border-color: #d0a638 !important;
}

.btn-danger {
  background-color: #aa231f !important;
  border-color: #aa231f !important;
  color: #fff !important;
}

.btn-danger:hover {
  background-color: #771a17 !important;
  border-color: #771a17 !important;
}

.btn-default {
  border-color: #aa231f;
}

.btn-default:hover {
  background-color: #aa231f !important;
  border-color: #aa231f !important;
  color: #fff !important;
}

.input-group-btn>.btn.btn-default {
  border-color: #ccc !important;
}

.input-group-btn>.btn.btn-default:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}



/*FORM*/

input[type="checkbox"].ios8-switch {
  position: absolute;
  margin: 8px 0 0 16px;
  visibility: hidden;
}

input[type="checkbox"].ios8-switch+label {
  position: relative;
  padding: 5px 0 0 50px;
  line-height: 2.0em;
}

input[type="checkbox"].ios8-switch+label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px;
  /* x*5 */
  height: 24px;
  /* x*3 */
  border-radius: 16px;
  /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 24px;
  /* x*3 */
  height: 24px;
  /* x*3 */
  border-radius: 16px;
  /* x*2 */
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="checkbox"].ios8-switch+label:hover:after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios8-switch:checked+label:after {
  margin-left: 16px;
}

input[type="checkbox"].ios8-switch:checked+label:before {
  background: #55D069;
}


/*EFECTS*/

.transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover:hover {
  opacity: 0.7;
}


/*ALIGN*/

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


/*PLANT*/

.plant-1:before,
.plant-1:after,
.plant-2:before,
.plant-2:after {
  display: inline-block;
  content: "";
  width: 70px;
  height: 25px;
}

.plant-1:before {
  background: url(../img/plant-1-left.png) no-repeat;
  margin-right: 10px;
}

.plant-1:after {
  background: url(../img/plant-1-right.png) no-repeat;
  margin-left: 10px;
}

.plant-2:before {
  background: url(../img/plant-2-left.png) no-repeat;
  margin-right: 10px;
}

.plant-2:after {
  background: url(../img/plant-2-right.png) no-repeat;
  margin-left: 10px;
}

.icon-img:before {
  margin-right: 30px;
  margin-top: 10px;
}

.icon-img:after {
  margin-left: 30px;
  margin-top: 10px;
}


/*NAVBAR*/

.navbar {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  /*position: relative;*/
  z-index: 1039;
  height: 110px;
  border: 1px solid #ddd;
}

#navbar {
  width: 75%;
  float: right;
}

.navbar-header {
  width: 16.66%;
  margin-right: 8.33%;
}

.navbar-nav:not(.navbar-right) {
  margin: 35px 0 35px 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #95191a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #651213;
}

.navbar-nav>li>a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-brand {
  /* display: block;
  width: 235px;
  height: 165px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  margin-top: -65px;
  position: relative;
  top: 65px;
*/
  margin: 0 auto;
  float: none;
  display: block;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #95191a !important;
}

.nav>li>a {
  padding: 10px 5px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}

.navbar>.container .navbar-brand {
  margin-left: 0;
}


/*.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
  background-color: #95191a !important;
}*/

.navbar-brand img {
  display: block;
  margin: 0 auto;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: inherit;
  opacity: 0.6;
}

.navbar-nav>li .btn {
  padding: 6px 15px;
  margin: 38px 15px;
  font-weight: 700 !important;
}

.nav-dropdown .left,
.nav-dropdown .right {
  float: left;
  font-size: 14px;
}

.nav-dropdown .right {
  padding: 0 10px;
  margin-top: -10px;
}

.nav-dropdown .right div {
  padding: 5px 0;
}

.nav-dropdown .right div+div {
  border-top: 1px solid #9c2829;
}

.dropdown-toggle.nav-dropdown.clearfix {
  margin-top: -10px;
  color: #666666 !important;
  font-weight: 400;
}

.navbar-inverse .navbar-nav>.open>a.nav-dropdown,
.navbar-inverse .navbar-nav>.open>a.nav-dropdown:focus,
.navbar-inverse .navbar-nav>.open>a.nav-dropdown:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 3px;
  padding: 20px;
  width: 235px;
}

.navbar-nav .dropdown-menu>li>a {
  padding: 10px 0;
  font-size: 16px;
  color: #343434;
}

.navbar-nav .dropdown-menu>li>a:hover {
  background-color: #f7f5eb;
}

.navbar-nav .dropdown-menu>li+li>a {
  border-top: 1px solid #eee;
}

.navbar-nav .dropdown-menu>li .ion-chevron-right {
  font-size: 12px;
  float: right;
  line-height: 26px;
}

.nav-dropdown {
  margin: 30px 0 -10px 25px;
}


/*FOOTER*/

footer {
  background-color: #ffffff;
  font-size: 13px;
  color: #999999;
  font-weight: 400;
  line-height: inherit;
}

footer .footer-a .social-networks a {
  margin: 0 22px;
}

footer h4 {
  font-size: 34px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 -5px;
}

footer a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

footer a:hover {
  color: inherit;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer ul li + li {
  margin-top: 15px;
}

footer ul li a {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

footer .footer-top {
  padding-bottom: 50px;
}

footer .footer-middle {
  padding: 40px 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

footer .footer-bottom {
  padding: 11px 0;
}

footer .pull-left {
  line-height: 40px;
}

footer .footer-img-center img {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}

footer > div.footer-bottom-b {
  display: none !important;
}

footer.footer-b > div {
  display: none !important;
}

footer.footer-b > div.footer-bottom-b {
  display: block !important;
  border-top: 1px solid #999;
  padding: 30px 0;
}

footer.footer-b > div.footer-bottom-b img {
  margin-top: 0;
}

footer.footer-b .copyright {
  margin-top: 12px;
  display: inline-block;
}

/*ORDER*/

.bar-image {
  /*background-image: url(../img/wood.png);*/
  background-color: #666666;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin: 0 0 20px;
  position: relative;
}

.bar-image .ion-trash-a {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 9px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.bar-image .ion-trash-a:hover {
  opacity: 0.7;
}

.week {
  font-size: 20px;
  font-weight: 400;
  color: #aa231f;
  margin-top: -30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bar-total {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*height: 74px;*/
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  color: #fff;
  display: none;
  z-index: 9;
}

.bar-total .total {
  font-size: 17px;
}

.bar-total .total b {
  margin-left: 12px;
  font-size: 24px;
}

.bar-total .prev {
  font-size: 12px;
  font-weight: 300;
}

.bar-total .btn {
  margin-top: 6px;
}

.bar-total .btn.size-14 {
  padding: 10px 15px;
}

.bar-total .ion-arrow-right-c {
  font-size: 26px;
  height: 26px;
  display: inline-block;
  margin-top: -10px;
  position: relative;
  top: 4px;
  left: 5px;
}

.bar-total .btn-lg {
  font-size: 16px;
}

.bar-total.show~footer {
  margin-bottom: 74px;
}


/*INTERNAL BANNER*/

.internal-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 250px;
}

.internal-banner:not([style*="background-image"]) {
  min-height: 105px;
}

.internal-banner .container {
  padding: 100px 0 30px;
}

.internal-banner:not([style*="background-image"]) .container {
  padding: 40px 0 20px;
}

.internal-banner h1 {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 15px;
}

.internal-banner:not([style*="background-image"]) h1 {
  color: #000000;
}

.internal-banner h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}


/*SLICK DATE*/

.slick-date .dates {
  width: 550px;
  max-width: 100%;
  margin: 30px auto -5px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slick-date .dates .date {
  display: block;
  width: 110px;
  height: 110px;
  border: 1px solid #cccccc;
  background-color: #fff;
  margin: 15px auto 0;
  cursor: pointer;
  padding-top: 8px;
  position: relative;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.slick-date .ion-android-checkmark-circle {
  font-size: 28px;
  color: #cccccc;
  position: absolute;
  top: 0;
  right: 10px;
}

.slick-date .slick-slide {
  width: 110px;
  height: 110px;
  padding: 3px;
}

.slick-date .dates .slick-center,
.slick-date .dates .slick-center .date {
  width: 140px;
  height: 140px;
  margin: 0;
}

.slick-date .dates .slick-center .date {
  border-color: #000;
}

.slick-date .dates .slick-arrow {
  background: inherit;
  border: none;
  padding: 0;
  width: 30px;
  height: 60px;
  overflow: hidden;
  position: relative;
  top: 37px;
  float: left;
}

.slick-date .dates .slick-arrow:before {
  display: inline-block;
  font-family: "Ionicons";
  font-size: 50px;
}

.slick-date .dates .slick-arrow:first-child {
  float: left;
}

.slick-date .dates .slick-arrow:last-child {
  float: right;
}

.slick-date .dates .slick-prev:before {
  content: "\f124";
}

.slick-date .dates .slick-next:before {
  content: "\f125";
}

.slick-date .dates .slick-list {
  width: 418px;
  height: 150px;
  display: inline-block;
  max-width: 100%;
}

.slick-date .dates .date>span {
  font-size: 15px;
  color: #cccccc;
  display: block;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.slick-date .dates .date>span:nth-child(1) {
  text-transform: uppercase;
}

.slick-date .dates .date>span:nth-child(2) {
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}

.slick-date .dates .date>span:nth-child(3) {
  font-style: italic;
}

.slick-date .dates .slick-center:not(.no-items) .date>span {
  color: #000;
  font-size: 18px;
}

.slick-date .dates .slick-center .date>span:nth-child(2) {
  font-size: 40px;
}

.slick-date .dates .slick-center .date {
  padding-top: 14px;
}

.slick-date .slick-arrow.slick-disabled {
  display: none !important;
}


/*ITEM*/

.slick-menu {
  margin: 0 -10px;
}

.slick-menu-item {
  padding: 0 16px;
}

.item {
  border: 4px solid #000;
  position: relative;
  margin-bottom: 30px;
  min-height: 175px;
  background-color: #fff;
}

.slick-menu-item:not(.slick-current) .item {
    display: none;
}

.item .btn-close {
  width: 270px;
  margin: 0 auto -11px;
  display: block;
  padding-bottom: 6px;
  cursor: pointer;
  position: relative;
  display: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.item .btn-close i {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -11px;
  font-size: 22px;
  color: #ffffff;
}

.item .btn-close[aria-expanded="true"] {
  display: block;
}

.item .border {
  padding: 55px 10px 15px;
  position: relative;
}

.item h3 {
  font-family: 'Bad Script', cursive;
  font-size: 33px;
  line-height: 37px;
  margin: 10px 0 5px;
}

.item h4 {
  font-size: 14px;
  font-weight: 400;
  color: #343434;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.item h5 {
  font-size: 22px;
  font-weight: 300;
  color: #666666;
  margin: 0;
}

.item span,
.menu-header span {
  color: #999999;
  text-transform: uppercase;
  display: inline-block;
  font-size: 11px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.item ul {
  margin: 0 0 30px;
  padding: 0;
}

.item li {
  background-color: #f1f1f1;
  padding: 7px 15px 3px;
  list-style: none;
  border-radius: 3px;
  margin-bottom: 2px;
}

.item p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #343434;
  margin: 0;
}

.item p+p {
  margin-top: 10px;
}

.menu-header {
  padding: 0 15px;
}

.menu-header>div:before,
.menu-header>div:after {
  display: table;
  content: "";
}

.menu-header>div:after {
  clear: both;
}

.menu-header>div>div {
  float: left;
}

.menu-header>div>div:nth-child(1) {
  width: 60%;
}

.carrinho .menu-header>div>div:nth-child(1),
.meus-pedidos .menu-header>div>div:nth-child(1) {
  width: 40%;
}

.menu-header>div>div:nth-child(2),
.menu-header>div>div:nth-child(3),
.menu-header>div>div:nth-child(4) {
  width: 20%;
  text-align: center;
}

.meus-pedidos .menu-header>div>div:nth-child(3), 
.meus-pedidos .menu-header>div>div:nth-child(4) {
  padding-right: 10px;
}

.menu-header>div>div:nth-child(3),
.menu-header>div>div:nth-child(4) {
  text-align: right;
}

.item-option>li>div:before,
.item-option>li>div:after {
  display: table;
  content: "";
}

.item-option>li>div:after {
  clear: both;
}

.item-option>li>div>div {
  float: left;
}

.item-option>li>div>div:nth-child(1) {
  width: 60%;
}

.carrinho .item-option>li>div>div:nth-child(1),
.meus-pedidos .item-option>li>div>div:nth-child(1) {
  width: 40%;
}

.item-option>li>div>div:nth-child(2),
.item-option>li>div>div:nth-child(3),
.item-option>li>div>div:nth-child(4) {
  width: 20%;
  text-align: center;
}

.item-option>li>div>div:nth-child(3),
.item-option>li>div>div:nth-child(4) {
  text-align: right;
}

.item .icon {
  display: block;
  margin: 10px auto 0;
}

.item .price,
.item .price .value {
  display: inline-block;
  font-size: 22px;
  color: #666666;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 0;

}

.item .prev {
  font-size: 12px;
  display: inline-block;
  color: #666666;
  margin: 0;
  text-align: center;
  text-transform: inherit;
}

.item .btn-info {
  margin-top: 5px;
}

.item .prev+.btn-info {
  margin-top: 8px;
}

.item .check {
  position: absolute;
  top: -35px;
  left: 20px;
  z-index: 1;
}

.item hr {
  margin: 40px 0;
}

.item .tags {
  float: right;
  margin-right: -30px;
  margin-top: 5px;
}

.item .tag {
  background-image: url(../img/tag.png);
  width: 103px;
  height: 54px;
  background-repeat: no-repeat;
  position: relative;
}

.item .tag+.tag {
  margin-top: 5px;
}

.item .tag>div {
  width: 72px;
  float: right;
  position: relative;
  height: 100%;
}

.item .tag>div>div {
  padding: 0 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.item .tag span {
  display: block;
  font-size: 14px;
  color: #010101;
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}

.item .tag span+span {
  margin-top: 5px;
}

.item.carne {
  border-color: #dd7f7c;
}

.item.carne svg {
  fill: #dd7f7c;
}

.item.carne h3 {
  color: #aa231f;
}

.item.peixe {
  border-color: #dc9761;
}

.item.peixe svg {
  fill: #dc9761;
}

.item.peixe h3 {
  color: #c86a22;
}

.item.veggie {
  border-color: #a4bb5f;
}

.item.veggie svg {
  fill: #a4bb5f;
}

.item.veggie h3 {
  color: #738834;
}

.item-name:before,
.item-name:after {
  display: table;
  content: "";
}

.item-name:after {
  clear: both;
}

.item-name>div {
  float: left;
}

.item-name>div:first-child {
  width: 70.5%;
}

.item-name>div:last-child {
  width: 25%;
  margin-top: 5px;
}

.item-name>div:last-child>div:last-child {
  margin-top: -20px;
}


/*ITEM OPTION*/

.item-option {
  margin: 0 0 30px;
  padding: 0;
}

.item-option li {
  background-color: #f1f1f1;
  padding: 7px 15px 3px;
  list-style: none;
  border-radius: 3px;
  margin-bottom: 2px;
}

.item-option h5 {
  font-size: 22px;
  font-weight: 300;
  color: #666666;
  margin: 0;
}

.item-option h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  line-height: 31px;
}

.item-option span {
  color: #999999;
  text-transform: uppercase;
  display: inline-block;
  font-size: 11px;
  margin-bottom: 5px;
}

.item-option .price-2 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  display: inline-block;
  line-height: 30px;
  margin-top: 0 !important;
}

.item-option .promo {
  background-color: #f7f5eb;
}

.item-option .promo .integer button {
  visibility: hidden;
}

.item-option .promo .integer input {
  background-color: #eae9e2;
}

.item-option+.info {
  font-size: 14px;
  line-height: 18px;
  color: #3ea3d7;
  font-weight: 400;
  margin-top: 10px;
  padding: 0 15px;
}


/*INTEGER*/

.integer {
  width: 164px;
}

.integer input {
  width: 48px;
  height: 30px;
  border: none;
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  color: #666666;
  padding: 0 0 0 10px;
  margin: 0 3px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.integer button {
  font-size: 16px;
  color: #666666;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  text-align: center;
}

.integer button[disabled] {
  visibility: hidden;
}

.integer button[disabled]+input[disabled] {
  background-color: transparent;
}


/*TEXT TOP*/

.text-top {
  padding: 50px 0 20px;
}

.text-top h4 {
  margin-bottom: 0;
}


/*BOX PIN*/

.box-pin {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 30px 0;
  margin-bottom: 20px;
}

.box-pin p {
  font-size: 14px;
  font-weight: 300;
  color: #343434;
  margin-top: 32px;
}

.box-pin.show-pin {
  padding: 20px 0;
  text-align: center;
  margin-bottom: 45px;
}

.box-pin.show-pin h4 {
  font-size: 18px;
  font-weight: 700;
  color: #3ea3d7;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.box-pin.show-pin p {
  font-size: 16px;
  font-weight: 300;
  color: #343434;
  margin: 0;
}

.box-summary {
  background-color: #fff;
  padding: 50px 0;
  margin-bottom: 50px;
}

.box-summary h3 {
  margin-bottom: 30px;
}

.div-info-promo {
  margin-bottom: 30px;
}

.summary-day {
  margin-bottom: 30px;
}

.summary-day .btns {
  padding: 0 10px;
}

.summary-day .btns .dropdown {
  margin: 0 5px;
  float: left;
}

.summary-day .item-option {
  margin-bottom: 10px;
}

.summary-day .dropdown-menu {
  padding: 0 13px;
  border-color: #eeeeee;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.summary-day .dropdown-menu>li>a {
  padding: 10px 6px;
}

.summary-day .dropdown-menu>li:hover a {
  background-color: #e0f0f8;
  font-size: 14px;
  color: #343434;
}


/*BOX ICON TEXT*/

.box-icon-text {
  margin-bottom: 30px;
}

.box-icon-text [class*="ion-"] {
  font-size: 70px;
  color: #666666;
  line-height: 70px;
}

.box-icon-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 20px;
}

.box-icon-text p b {
  font-weight: 700;
}

.box-carteira {
  text-align: center;
  margin-bottom: 30px;
}

.carteira {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0px 20px;
  margin-bottom: 5px;
}

.carteira table {
  width: 100%;
}

.carteira td {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: #f4f4f4;
  border: 17px solid #fff;
  border-left: 0;
  border-right: 0;
  padding: 6px 20px;
}

.carteira td:last-child {
  text-align: right;
}

.carteira tfoot td {
  background-color: #999999;
  font-weight: 700;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.carteira.danger tfoot td {
  background-color: #95191a;
}

.box-auth {
  margin-top: 30px;
}

.box-auth h4 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 30px;
  line-height: 26px;
}

.box-auth h5 {
  font-size: 17px;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
}

.box-auth p {
  font-size: 15px !important;
  font-weight: 300 !important;
  color: #666666 !important;
  line-height: 17px !important;
  margin: -8px 0 10px !important;
}

.box-auth small {
  font-size: 12px;
  font-weight: 300;
  color: #666666;
  line-height: 14px;
  display: inline-block;
  margin: 5px 0;
}

.box-auth .btn-success {
  margin-top: 20px;
}

.box-auth a {
  text-decoration: none;
}

.box-auth h2 {
  font-size: 30px;
  color: #95191a;
}

.box-auth h6 {
  font-size: 22px;
  font-weight: 300;
  color: #666666;
  margin: 0 0 10px;
}

.box-auth .form-group+h6 {
  margin-top: 40px;
}

.box-auth [readonly],
.box-auth [disabled] {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.table-resumo {
  width: 100%;
  margin-bottom: 20px;
}

.table-resumo th {
  color: #999999;
  text-transform: uppercase;
  font-size: 11px;
  padding-bottom: 5px;
  text-align: center;
  width: 20%;
}

.table-resumo td {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  line-height: 31px;
  background-color: #f1f1f1;
  padding: 7px;
  text-transform: uppercase;
  border-bottom: 2px solid #f4f4f4;
}

.table-resumo td:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.table-resumo td:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.table-resumo td a {
  text-decoration: underline;
}

.table-resumo.bt tfoot th::before,
.table-resumo.bt tfoot td::before,
.table-resumo.bt tbody td::before {
  width: 11.5em;
  text-align: left;
}

.table-resumo .delivered * {
  color: #3ac734;
}

.table-resumo .delivered a:hover {
  color: #2d9628;
}

.table-resumo .canceled * {
  color: #a63241;
}

.table-resumo .canceled a:hover {
  color: #651f28;
}

.table-resumo .paid * {
  color: #ffa726;
}

.table-resumo .paid a:hover {
  color: #b46526;
}

.table-resumo .frozen * {
  color: #00bcd4;
}

.table-resumo .frozen a:hover {
  color: #008aa1;
}

.topbar:before,
.topbar:after {
  display: table;
  clear: both;
}

.topbar:after {
  clear: both;
}

.topbar>div {
  float: left;
}

.topbar>div:nth-child(1) {
  width: 80%;
}

.topbar>div:nth-child(2) {
  width: 20%;
}

.topbar .btn {
  font-size: 12px;
  padding: 3px;
}

.topbar .icon {
  vertical-align: inherit;
  margin-right: 5px;
  font-size: 16px;
}

.box-filter>div {
  float: left;
}

.box-filter>div:nth-child(1) {
  width: 20%;
}

.box-filter>div:nth-child(2) {
  width: 80%;
}

.box-filter h4 {
  font-size: 18px;
  font-weight: 700;
  color: #343434;
  margin: 10px 0 0;
}

.box-filter .btn {
  color: #999999;
  border-color: #999999;
  border-right: 0;
  font-size: 16px;
  padding: 8px 12px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.box-filter .btn+.btn {
  border-left: 1px solid #999999;
}

.box-filter .btn:last-child {
  border-right: 1px solid #999999;
}

.box-filter .btn.active {
  background-color: #aa231f;
  color: #fff;
  border-color: #aa231f;
}


/*accordion*/

.accordion .panel {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.accordion .panel-default {
  border-color: #eee;
}

.accordion .panel-group .panel {
  border-radius: 3px;
}

.accordion .panel-title {
  font-size: 20px;
  color: #666666;
}

.accordion .panel-title a {
  font-weight: 300;
  color: inherit !important;
  text-decoration: none !important;
  padding: 30px 60px 30px 30px;
  display: block;
}

.accordion .ion-android-arrow-down,
.accordion .ion-android-arrow-up {
  float: right;
  font-size: 20px;
  color: #000000;
  margin-right: -30px;
}

.accordion .ion-android-arrow-up {
  position: relative;
  top: 20px;
}

.accordion .panel-title a:hover,
.accordion .panel-title a[aria-expanded="true"] {
  background-color: #f7f5eb;
}

.accordion .panel-title a[aria-expanded="true"] .ion-android-arrow-down {
  display: none;
}

.accordion .panel-body {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  line-height: 28px;
  padding: 30px 60px 55px 30px;
}

.accordion .panel-heading {
  padding: 0;
}


/*HOW IT WORKS*/

.how-it-works .block {
  padding: 70px 0;
  text-align: center;
}

.how-it-works .box-itens {
  display: table;
}

.how-it-works .itens {
  display: table-row;
}

.how-it-works .item {
  display: table-cell;
  width: 33.33%;
  height: 100%;
  border: none;
  min-height: inherit;
  margin-bottom: 0;
  vertical-align: top;
}

.how-it-works .item-number {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background-color: #aa231f;
  line-height: 40px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto 26px;
}

.how-it-works .item>div {
  padding: 5px 45px 30px;
  /*border-right: 1px solid #dddddd;*/
  height: 100%;
  height: calc(100% - 65px);
  height: -webkit-calc(100% - 65px);
  height: -moz-calc(100% - 65px);
  height: -ms-calc(100% - 65px);
  height: -o-calc(100% - 65px);
}

.how-it-works .item>div>div {
  min-height: 200px;
  line-height: 200px;
}

.how-it-works .item:last-child>div {
  border-right: 0;
}

.how-it-works h4 {
  font-size: 20px;
  font-weight: 300;
  color: #aa231f;
  text-transform: uppercase;
  line-height: 25px;
  margin: 0 0 15px;
  min-height: 60px;
}

.how-it-works p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #343434;
}

.how-it-works.list {
  padding: 40px 0;
}

.how-it-works.list .row {
  padding: 40px 0;
}

.how-it-works.list img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
}

.how-it-works.list .number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  padding: 5px;
  margin-top: -10px;
  float: right;
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.how-it-works.list hr {
  display: block;
  content: "";
  width: 1px;
  height: 130%;
  background-color: #dddddd;
  position: absolute;
  top: 0;
  margin-left: 40px;
  z-index: 1;
}

.how-it-works.list .number span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #aa231f;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  color: #ffffff;
}

.how-it-works.list h4 {
  font-size: 32px;
  line-height: 36px;
  text-transform: inherit;
  min-height: inherit;
  font-weight: 400;
  margin: 0 0 10px;
}

.how-it-works.list p {
  line-height: 28px;
}

.how-it-works.list .icon-pagamento {
  margin-left: 15px;
  display: inline;
}


/*PLACES*/

.places {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.places .block {
  padding: 40px 0 65px;
}

.places .box-text {
  background-color: #fff;
  padding: 30px 20px 40px;
}

.places .contato {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #aa231f;
  margin: 40px 0 20px;
}

.places .message {
  font-size: 20px;
  font-weight: 400;
  color: #343434;
  line-height: 24px;
}

.places h2 {
  color: #ffffff;
}

.places img:before {
  display: inline-block;
  content: "sdfg";
}

.places p {
  font-size: 18px;
  font-weight: 300;
  color: #343434;
  line-height: 24px;
  margin: 0 0 15px;
}

.places p strong {
  font-weight: 400;
  color: #aa231f;
}

.places h4 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
  color: #aa231f;
  margin-bottom: 15px;
}


/*CUSTOMERS*/

.customers {
  background-color: #aa231f;
  padding: 10px 0;
}

.customers .border {
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  padding: 30px 0;
}

.customers h2 {
  color: #fff;
}

.customers ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.customers li {
  list-style: none;
  float: left;
  width: 170px;
}

.customers li img {
  margin: 0 auto;
  display: block;
}


/*benefits*/

.benefits {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits .box-text .border {
  min-height: 350px;
}

.benefits .box-text {
  background-color: rgba(255, 255, 255, 0.9);
}

.benefits .box-text img {
  margin-bottom: 25px;
}


/*box as bentas*/
.box-as-bentas {
  background-color: #ffffff;
  padding-bottom: 30px;
}

.box-as-bentas h2 {
  color: #aa231f;
  text-align: center;
  margin-bottom: 30px;
}

.box-as-bentas h3 {
  font-family: 'Bad Script', cursive;
  color: #aa231f;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 20px;
}

.box-as-bentas .box-caixa {
  border: 1px solid #eeeeee;
  padding: 30px;
}

.box-as-bentas img {
  position: relative;
  bottom: -130px;
}

.box-as-bentas  ul {
  margin: 0;
  padding: 0;
}

.box-as-bentas li {
  list-style: none;
  color: #343434;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 22px;
}

.box-as-bentas li .fa {
  font-size: 8px;
  color: #aa231f;
  position: relative;
  top: -2px;
}

/*testimonials-trustpilot*/
.testimonials-trustpilot h2 {
  text-align: center;
}

.testimonials-trustpilot .slick-testimonials {
  text-align: center;
}

.testimonials-trustpilot .slick-testimonials a {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonials-trustpilot .slick-testimonials a:hover {
  text-decoration: none !important;
  opacity: 0.6;
}

.testimonials-trustpilot .slick-testimonials h4 {
  font-size: 18px;
  font-weight: 400;
  color: #aa231f;
  margin: 0 0 5px;
  min-height: 38px;
}

.testimonials-trustpilot .slick-testimonials p {
  font-size: 18px;
  font-weight: 300;
  color: #343434;
  line-height: 26px;
  margin: 0;
  min-height: 105px;
}

.testimonials-trustpilot .slick-testimonials p {
  font-size: 15px;
  font-weight: 300;
  color: #343434;
  margin: 0;
}

.testimonials-trustpilot .slick-testimonials p:last-child {
  min-height: inherit;
}


.testimonials-trustpilot .slick-testimonials .content {
  width: 235px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.testimonials-trustpilot .slick-testimonials .stars {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.testimonials-trustpilot .slick-testimonials .stars ul {
  display: inline-block;
  font-size: 24px;
  color: #ffcc44;
  margin: 0;
  padding: 0;
}

.testimonials-trustpilot .slick-testimonials .stars li {
  list-style: none;
  float: left;
  margin: 0 6px;
}

.testimonials-trustpilot .fa-angle-left,
.testimonials-trustpilot .fa-angle-right {
  cursor: pointer;
  color: #aa231f;
  font-size: 60px;
  margin-top: 80px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonials-trustpilot .fa-angle-left:hover,
.testimonials-trustpilot .fa-angle-right:hover {
  color: #671614;
}

/*BOX TXT*/

.box-txt {
  margin-top: 30px;
}

.box-txt h4 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 25px;
  line-height: 32px;
}

.box-txt p {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  margin: 0 0 25px;
  line-height: 35px;
}


/*BOX IMAGEM*/

.box-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box-image h4 {
  font-family: 'Bad Script', cursive;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #343434;
}

.box-image p {
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  color: #343434;
}

.box-image .box-text {
  margin: 100px 0;
}

.box-image .border {
  padding: 40px !important;
}

.box-image.caixa {
  background-color: #f7f5eb;
}

.box-image.caixa img {
  margin: 180px 0 0 -79px;
}

.news {
  background-color: #fff;
  background-size: contain;
  background-position: bottom;
  background-repeat-y: no-repeat;
  padding: 55px 0 135px;
}

.news p {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  color: #aa231f;
  margin: 0 0 30px;
}

.news .box-form {
  text-align: center;
  /*background-color: #f4f4f4;*/
  padding: 25px 0;
}

.news form {
  display: inline-block;
}

.news .form-group.left {
  float: left;
  width: 235px;
  margin: 0 10px;
}

.news .form-group.right {
  float: left;
  width: 235px;
  margin: 0 10px;
}

.news .form-control {
  height: 40px;
  border-radius: 0;
  border-color: #ddd;
  font-size: 15px;
  font-weight: 300;
  color: #343434;
}

.news button {
  float: left;
  background-color: #aa231f;
  border: none;
  padding: 8px 14px;
  width: auto;
  margin: 0 10px;
}

.testimonials {
  background-color: #f7f5eb;
  padding: 70px 0;
}

.testimonials .photo {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
  width: auto;
  height: auto;
}

.testimonials .photo img {
  border-radius: 50%;
  border: 1px solid #ccc;
  width: auto;
  max-width: 100%;
  height: auto;
}

.testimonials p {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #343434;
}

.testimonials p b {
  font-weight: 400;
  font-style: initial;
}

.testimonials .col-height {
  vertical-align: middle;
}


/*MAPA*/

.box-map {
  width: 240px;
  /*height: 240px;*/
  display: inline-block;
  margin: 0 10px;
}

.mapa {
  position: relative;
  border: 10px solid #fff;
}

.mapa span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  /*width: 65px;*/
  /*margin-left: -32.5px;*/
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #95191a;
  text-shadow: 0 0 2px #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.mapa img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.mapa-content .fa {
    font-size: 70px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    display: block;
    width: 100%;
    left: 0;
}

.mapa-content .col-xs-1 {
    position: relative;
}


/*TABS*/

.navtabs {
  margin: 0 0 10px;
  border: 1px solid #ddd;
  padding: 2px;
  display: block;
}

.navtabs:before,
.navtabs:after {
  display: table;
  content: "";
}

.navtabs:after {
  clear: both;
}

.navtabs li {
  list-style: none;
  float: left;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  color: #343434;
  text-transform: uppercase;
}

.navtabs li.active {
  color: #fff;
}

.navtabs li.active a {
  background-color: #666666;
}

.navtabs li a {
  color: inherit !important;
  text-decoration: none !important;
  background-color: #fff;
  display: block;
  padding: 15px;
}

.box-navtabs label {
  font-size: 18px;
  color: #343434;
  font-weight: 400;
}


/*BOX TOTAL*/

.box-total {
  /*  border: 1px solid #ddd;*/
  background-color: #f4f4f4;
  width: 100%;
  font-size: 16px;
  color: #343434;
  font-weight: 400;
}

.summary-day .btns + .box-total {
  margin-top: 10px;
}

.box-total tr td {
  padding: 6px;
}

.box-total tr td:first-child {
  width: 80%;
  text-align: right;
}

.box-total tr td:last-child {
  text-align: right;
  padding-right: 15px;
}

.box-total tr:first-child td {
  padding-top: 15px;
}

.box-total tr:last-child td {
  padding-bottom: 15px;
}

.box-total-b {
  background-color: #fff;
  border: none;
  width: 100%;
  font-size: 16px;
  color: #343434;
  font-weight: 400;
}

.box-total:not(.box-total-b) {
  background-color: #f1f1f1;
  margin-top: 40px;
}

.box-total:not(.box-total-b) tr:last-child td {
  font-size: 18px;
}

.box-dados {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;
}

.box-dados .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    background: #fff;
}

.box-dados.dados {
  min-height: 360px;
}

.box-dados h4,
.title-box-dados {
  font-size: 22px;
  font-weight: 300;
  color: #666666;
  margin: 0 0 20px;
}

.box-dados h5 {
  font-size: 16px;
  font-weight: 700;
  color: #343434;
  margin: 0 0 10px;
}

.box-dados p {
  font-size: 16px;
  font-weight: 300;
  color: #343434;
  line-height: 19px;
  margin: 0 0 5px;
}

.box-dados .form-group>span {
  font-size: 12px;
  font-weight: 300;
  color: #666666;
  line-height: 13px;
  display: inline-block;
  margin: 5px 0 10px;
}

.box-dados label {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
  margin: 0 0 10px;
}

.box-dados .checkbox {
  margin-left: 20px;
}

.title-box-dados {
  padding: 0 20px;
}

.box-dados .tools {
  margin-top: -20px;
}

.box-dados .tools a {
  color: #999999;
  font-size: 18px;
  padding: 6px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-dados .tools a:hover {
  color: #555;
}

.box-dados.empty {
  padding: 4px;
  cursor: pointer;
}

.box-dados.address {
  height: 289px;
}

.box-dados.empty .content {
  display: block;
  background-color: #f4f4f4;
  border-radius: 5px;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-dados.empty:hover .content {
  background-color: #f1f1f1;
}

.box-dados.empty .content:after {
  display: block;
  font-family: FontAwesome;
  content: "\f067";
  font-size: 35px;
  color: #999999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px;
}

.radio-font-awesome label {
  font-size: 15px;
  font-weight: 400;
  color: #3ea3d7;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.radio-font-awesome label:hover {
  color: #2f7ea7;
}

.radio-font-awesome label:before {
  display: inline-block;
  content: "\f096";
  font-family: FontAwesome;
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
  width: 15px;
}

.radio-font-awesome input {
  position: absolute;
  visibility: hidden;
}

.radio-font-awesome input:checked+label:before {
  content: "\f046";
}
/*
.parsley-errors-list {
  padding: 0;
  margin: 0;
}

.parsley-errors-list li {
  list-style: none;
}*/

#chat-2-desk-widget-container + #chat-2-desk-widget-container {display: none;}

.address-checkout [class*="ion-"] {
    width: 15px;
    display: inline-block;
    text-align: center;
}

.parsley-errors-list {
  margin: 0;
  padding: 0;
}

.parsley-errors-list li {
  list-style: none;
  color: #aa231f;
}

.data-fixed {
  background-color: #ccc;
}

.container.date-affix {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: -100px;
}

.container.date-affix.affix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.51);
    padding-bottom: 25px;
    margin-top: 0;
}

.container.date-affix.affix .slick-date .dates {
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    /*zoom: 70%;*/
    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Safari 3-8 */
    transform: scale(0.7); 
    padding-bottom: 17px;
}

.container.date-affix.affix > .week {
    font-size: 18px !important;
    font-weight: 400;
    color: #aa231f;
    margin-top: -35px;
}


/*bootbox*/
.custom-bootbox .bootbox-body form {
  padding: 0 15px;
}

.custom-bootbox .bootbox-body textarea {
  resize: none;
  width: 100% !important;
  height: 200px;
}

.custom-bootbox [data-bb-handler="confirm"] {
    background-color: #2c9627 !important;
    border-color: #2c9627 !important;
}

.custom-bootbox [data-bb-handler="confirm"]:hover {
    background-color: #22771e !important;
    border-color: #22771e !important;
}

.custom-bootbox [data-bb-handler="cancel"] {
  background-color: #aa231f !important;
  border-color: #aa231f !important;
  color: #fff !important;
}

.custom-bootbox [data-bb-handler="cancel"]:hover {
  background-color: #771a17 !important;
  border-color: #771a17 !important;
}

/*box-descontos*/
.box-descontos {
  padding: 0 7px;
  text-align: center;
}

.box-descontos .box-content {
  background-color: #aa231f;
  padding: 15px;
}

.box-descontos.orange .box-content {
  background-color: #da6d1c;
}

.box-descontos .box-border {
  border: 1px solid #fff;
  padding: 20px;
  min-height: 220px;
}

.box-descontos h3 {
  font-family: 'Bad Script', cursive;
  color: #ffffff;
  font-size: 25px;
  line-height: 40px;
  margin-top: 10px;
}

.box-descontos.orange h3 {
  font-size: 37px;
  line-height: 47px;
  margin-top: 0;
}

.box-descontos h3 img {
    margin-top: -10px;
}

.box-descontos p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.box-descontos.orange p {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}

.box-descontos a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  color: #aa231f !important;
  width: 200px;
  max-width: 100%;
}

.box-descontos a:hover {
  color: #fff !important;
  background-color: transparent !important;
}

#modal-descontos .modal-content {
  border-radius: 3px;
  padding: 15px;
}

#modal-descontos .modal-body {
  padding: 0;
}

#modal-descontos .close {
  margin-top: -7px;
  font-size: 25px !important;
  color: #000 !important;
  opacity: 1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#modal-descontos .close:hover {
  opacity: 0.6 !important;
}

#modal-descontos h3 {
  font-size: 18px;
  font-weight: 700;
  color: #343434;
  margin: 0 0 15px;
}

#modal-descontos .obs {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  line-height: 22px;
  padding: 20px;
}

.descontos {
  font-size: 14px;
  font-weight: 700;
  color: #343434;
}

.descontos .desc {
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
}

.descontos .desc + .desc {
  margin-top: 10px;
}

.descontos .desc .left {
  float: left;
  width: 80%;
  padding: 0 20px;
}

.descontos .desc .right {
  float: left;
  width: 20%;
  padding: 0 20px;
  text-align: right;
  background-color: #aa231f;
  color: #fff;
  font-size: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}