@media (max-width: 1999px) {
	.nav>li>a {
	    padding: 10px 5px;
	}

	#navbar {
		width: 80%;
	}

	.navbar-header {
	    margin-right: 3.33%;
	}
}

@media (min-width: 1200px) {
    .container {
        width: 1040px;
    }
}

@media (max-width: 1199px) {
    .how-it-works.list hr {
	    margin-left: 34px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 991px) {
    section {
        padding-top: 50px;
    }

	.navbar-inverse .navbar-nav > li > a {
	    padding: 10px 0;
	}

    .navbar {
    	height: auto;
    }

    .navbar-brand {
/*	    margin-top: -89px;
	    top: 90px;
		width: 140px;
		height: 120px;*/
	}

	.navbar-brand img {
	    /*width: 90px;*/
	}

	.navbar-nav:first-child {
	    margin: 0;
	}

	.navbar-collapse {
	    margin-top: 80px;
	    box-shadow: none;
	    -webkit-box-shadow: none;
	}

	.navbar-nav>li .btn {
	    margin: 10px 15px;
	}

    .navbar-brand {
	    margin-top: inherit !important;
	    top: inherit !important;
	    width: 125px !important;
	    height: 70px !important;
	}

	.navbar-brand img {
	    width: 70px !important;
	    margin-top: -6px !important;
	}

	.navbar-toggle {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	.navbar-header {
		width: 100%;
	}

	#navbar {
	    width: 100%;
	    padding: 0 30px;
        margin: 15px 0;
	}

	.navbar-right {
		width: 100%;
		margin: 0;
	}

	.navbar-inverse .navbar-nav > li > a {
		margin: 10px 0;
	}

	ul.nav.navbar-nav.navbar-right li {
	    margin-top: 10px;
	}

	.select-address + .select2 {
		margin-bottom: 20px;
	}

	.btn-continue {
    	background-color: transparent !important;
    	padding: 0 !important;
    	color: #3ea3d7 !important;
    	border: none;
    	text-align: left;
    	width: auto;
    }

    .btn-continue:hover {
    	background-color: transparent !important;
    }

    .bottom {
    	height: 90px;
    }

    .item .check {
    	font-size: 30px;
    	top: -38px;
    }

    .item h3 {
    	font-size: 30px;
    }

    .item p {
    	font-size: 15px;
    }

    .item-option > li > div > div:nth-child(1),
    .menu-header > div > div:nth-child(1) {
	    width: 50%;
	}

	.item-option > li > div > div:nth-child(2), .item-option > li > div > div:nth-child(3),
	.menu-header > div > div:nth-child(2) {
	    width: 25%;
	}

	.item-option > li > div > div:nth-child(2), .item-option > li > div > div:nth-child(3),
	.menu-header > div > div:nth-child(3) {
	    width: 25%;
	}

	.topbar > div:nth-child(2) {
	    width: 25%;
	    margin-bottom: 15px;
	}

	.box-filter > div:nth-child(1) {
	    width: 25%;
	}

	.box-filter > div:nth-child(2) {
	    width: 75%;
	}

	.carousel .box-text h1 {
		font-size: 35px;
	}

	.carousel .box-text p {
		font-size: 20px;
	}

	.how-it-works h4 {
		min-height: 82px;
	}

	.box-image.caixa img {
	    margin: 0 auto 50px;
	    display: block;
	    width: auto;
	    height: auto;
	    max-width: 100%;
	}

	.how-it-works.list hr {
	    margin-left: 15px;
	}

	.box-map {
	    /*height: 283px;*/
	}

	.container.date-affix {
		margin-top: -50px;
	}

	.container.date-affix.affix + .container {
	    padding-top: 180px !important;
	}

	.container.date-affix.affix,
	.container.date-affix.affix .slick-date .dates {
		padding-bottom: 0;
	}

	.item-option > li > div > div {
		width: 100% !important;
		float: none !important;
		text-align: left !important;
	}

    .menu-header {
    	display: none;
    }

	.tit-mob {
	    line-height: 3px;
	    margin: 0;
	    text-transform: initial !important;
	}

	.item-option>li>div>div:nth-child(3) {
	    margin: 20px 0 0;
	}

	.item-option>li>div>div:nth-child(4) {
	    margin: 6px 0 0;
	}

	.item-option>li>div .text-right {
	    text-align: left !important;
	}

	.box-total tr td:first-child {
	    width: 70%;
	    text-align: left;
	}

}

@media (max-width: 768px) {

	.margin-bottom-xs {
		margin-bottom: 15px;
	}

	.navbar-nav>li .btn {
		margin: 10px 15px;
	}

	.navbar-brand img {
/*	    width: 70px;
		margin: 0 auto;*/
	}

	.navbar-brand {
/*		width: 105px;
		height: 85px;*/
	}

	.navbar-collapse {
	    margin-top: 45px;
	}

	.carousel .border {
		padding: 5px;
	}

	.about .caixa {
	    margin: 0 auto;
	    top: inherit;
	    display: block;
	}

	.about p {
		margin-top: 30px;
	}

	.about ul {
		margin-bottom: 50px;
	}

    footer .pull-left,
    footer .pull-right {
        float: none !important;
    }

    footer .social-networks a {
        margin: 0 10px 0 0;
    }

    footer .footer-middle img {
    	margin-bottom: 30px;
    }

	footer .footer-img-center img {
		display: inline-block;
		margin: 0;
	}

	footer .footer-img-center {
	    margin-top: 10px;
	}

    .box-pin {
    	padding: 30px;
    }

    .item-option .price-2 {
    	float: right;
    }

    .menu-header {
    	display: none;
    }

	.bar-total .total {
	    font-size: 14px;
	    margin-top: 6px;
	}

	.bar-total .prev {
		/*display: none;*/
	}

	.bar-total .total b {
	    margin-left: 7px;
	    font-size: 16px;
	}

	.bar-total .btn {
		margin: 0;
	}

	.bar-total .btn-lg {
	    font-size: 14px;
	    padding: 7px;
	}

	.bar-total .btn.size-14 {
	    margin-bottom: 5px;
	}

	.bottom {
	    height: 60px;
	}

	.box-summary {
		padding: 15px;
	}

	footer .copyright {
		line-height: 17px;
	}

	footer .row-height {
	    display: block;
	    table-layout: inherit;
	    height: auto;
	}

	footer .col-height {
	    display: block;
	    float: inherit;
	}

	footer .col-bottom {
	    vertical-align: inherit;
	}

	footer h4 {
	    margin-top: 40px;
	    font-size: 25px;
	}

	footer ul {
	    margin-bottom: 40px;
	}

	footer .footer-bottom .text-right {
		text-align: inherit;
	}

	footer .footer-bottom > div {
		padding: 10px;
	}

	.carteira td {
		font-size: 14px;
	}

	.btn-xs-margin-bottom {
		margin-bottom: 10px;
	}

	.slick-date .dates .slick-list {
	    width: calc(100% - 60px);
	    width: -webkit-calc(100% - 60px);
	    width: -moz-calc(100% - 60px);
	    width: -ms-calc(100% - 60px);
	    width: -o-calc(100% - 60px);
	}

	.slick-date .dates .slick-center, .slick-date .dates .slick-center .date {
	    width: 100%;
	    margin: 0;
	}

	.item h3 {
		text-align: center;
	}

	.item p {
		text-align: center;
	}

	.item .check {
		top: -60px;
		right: inherit;
	}

	.item .tags {
		margin-top: 30px;
	}

	.item-name > div:first-child,
	.item-name > div:last-child {
		width: 100%;
		float: none;
	}

	.item-option > li > div > div {
		width: 100% !important;
		float: none !important;
		text-align: left !important;
	}

	.item-option .price-2 {
		float: none;
	}

	.item-option .promo  .integer button {
		display: none;
	}

	.integer button[disabled] + input[disabled] {
	    text-align: left;
	    padding: 0;
	}

	.topbar > div:nth-child(2) {
		width: 100%;
	}

	.box-filter > div:nth-child(1) {
		margin-bottom: 15px;
	}

	.box-filter > div:nth-child(1),
	.box-filter > div:nth-child(2) {
	    width: 100%;
	    float: none;
	}

	.table-resumo td:last-child {
	    margin-bottom: 5px;
	}

	.how-it-works h4,
	.how-it-works .item > div > div {
		min-height: auto;
	}

	.how-it-works .item {
		float: none;
		width: 100%;
		display: block;
	}

	.how-it-works .item > div {
		border: none;
	}

	.how-it-works .item-number {
		margin-bottom: 15px;
	}

	.how-it-works .item > div > div {
	    margin-bottom: 20px;
	}

	.customers li {
	    width: 33.3%;
	    padding: 0 15px;
	}

	.how-it-works.list {
		text-align: center;
	}

	.how-it-works.list .row-height {
	    display: block;
	    table-layout: inherit;
	    height: auto;
	}

	.how-it-works.list .col-height {
		display: block;
	}

	.how-it-works.list .number {
	    float: none;
	    margin: 0 auto 20px;
	}

	.how-it-works.list hr {
	    width: 100%;
	    height: 1px;
	    margin-left: 0;
	    margin-top: 25px;
	}

	.how-it-works.list img {
		margin-bottom: 20px;
	}

	.how-it-works.list .row {
		padding: 20px 0;
	}

	.how-it-works.list .icon-pagamento {
	  margin-left: auto;
	}

	.testimonials .col-height,
	.testimonials .row-height {
		display: block;
		text-align: center;
	}

	.item-testimonials {
		margin-bottom: 60px;
	}

	.news form {
		display: block;
	}

	.news .form-group,
	.news button {
		float: none !important;
		width: 100% !important;
		margin: auto !important;
		margin-bottom: 10px !important;
	}

	.box-map {
	  left: inherit;
	  margin-bottom: 30px;
	}

	.box-as-bentas img {
	  position: inherit;
	  bottom: inherit;
	  display: block;
	  margin: 0 auto;
	}

	.container.date-affix.affix > .week {
		font-size: 18px !important; 
	}

}

@media (max-width: 583px) {
	.table-resumo td {
	    padding: 0 7px;
	}
}

@media (min-width: 768px) {

	.navbar-right {
		float: right!important;
		/*margin-right: -90px;*/
	}
	.navbar-right .dropdown-menu {
		right: 15px;
		left: auto;
	}
}


.alert-success {
	color: #3c763d !important;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.btn-limpar-carrinho {
	cursor: pointer;
}

