/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Jais Admin - Bootstrap Administrator Template .
Version:	1.0
Last change:	17/03/17 
Autor:			Ravi Jaiswal
-------------------------------------------------------------------*/

html,body {
    min-width: 290px;
    -ms-overflow-style: scrollbar
}

body {
    background-color: #ecf0f5;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-variant: normal;
    color: #758697;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased!important
}

h1,.h1 {
    font-size: 34px
}

h2,.h2 {
    font-size: 28px
}

h3,.h3 {
    font-size: 22px
}

h4,.h4 {
    font-size: 16px
}

h5,.h5 {
    font-size: 12px
}

h6,.h6 {
    font-size: 10px
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: 600;
    color: #2b425b
}

::selection {
    background-color: #42a5f5;
    color: #fff
}

::-moz-selection {
    background-color: #42a5f5;
    color: #fff
}

#container {
    min-height: 100vh;
    height: auto;
    position: relative;
    min-width: 290px;
    overflow: hidden
}

#container.boxed-layout {
    background-color: #dfe5ee
}

#content-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ecf0f5
}

#page-title {
    padding: 10px 15px;
    width: 100%;
    color: #2b425b
}

.page-header {
    border: 0 none;
    font-size: 1.7em;
    font-weight: normal;
    margin: 0;
    padding: 10px 0
}

.page-header .label {
    margin-right: .5em
}

#page-content {
    padding: 15px 15px 0
}

#page-content:not(:first-class) {
    padding: 5px 15px 0
}

.searchbox {
    margin-right: -20px
}

.searchbox button {
    border: 0;
    background: 0;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    font-size: 14px;
    z-index: 2
}

.searchbox .custom-search-form {
    margin-right: -5px
}

.searchbox .custom-search-form .input-group-btn {
    position: static
}

.searchbox .custom-search-form .input-group-btn:before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: -1px;
    background-color: #42a5f5;
    z-index: 99;
    left: 50%;
    right: 50%;
    transition: left .3s,right .3s
}

.searchbox .custom-search-form input {
    background-color: transparent;
    border-color: transparent;
    padding-right: 30px
}

.searchbox>.input-group.custom-search-form input {
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05)
}

.searchbox>.input-group input:focus ~ .input-group-btn:before {
    content: "";
    left: 0;
    right: 25px;
    transition: left .3s,right .3s
}

@media(min-width: 768px) {
    #content-container {
        padding-top:40px
    }

    #page-title {
        display: table;
        table-layout: fixed;
        padding-bottom: 0
    }

    .page-header,.searchbox {
        display: table-cell;
        vertical-align: middle
    }

    .searchbox {
        width: 300px
    }

    .searchbox .form-control {
        background-color: transparent
    }
}

@media(min-width: 992px) {
    .searchbox {
        margin-right:-25px
    }

    .searchbox .custom-search-form {
        margin-right: 0
    }
}

.cls-container {
    background-color: #ecf0f5;
    text-align: center
}

.cls-container,.cls-container a,.cls-container a:hover,.cls-container a:focus {
    color: #647484
}

.bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.bg-img ~ .cls-content .panel {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.15)
}

.cls-header {
    position: relative;
    background-color: rgba(0,0,0,0.03)
}

.cls-header.cls-header-lg .cls-brand .brand-icon {
    width: 60px;
    height: 60px
}

#container.cls-container .cls-header .cls-header.cls-header-lg .cls-brand .brand-title {
    font-size: 27px
}

.cls-brand {
    display: inline-block;
    padding: 5px 0
}

.cls-brand .brand-icon {
    padding: 0
}

.cls-header-lg .cls-brand {
    line-height: 60px
}

.cls-header-sm .cls-brand {
    line-height: 1.42857
}

#container.cls-container .cls-brand .brand-icon,#container.cls-container .cls-brand .brand-title {
    background-color: transparent;
    color: inherit;
    float: none;
    display: inline-block;
    line-height: 22px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    vertical-align: middle;
    width: auto
}

.cls-content {
    padding: 50px 15px 15px;
    padding-top: 10vh;
    position: relative
}

.cls-content .error-code {
    font-size: 120px;
    font-weight: 400;
    margin-bottom: 50px
}

.cls-content .error-search {
    max-width: 512px;
    margin: 0 auto
}

.cls-content .cls-content-sm,.cls-content .cls-content-lg {
    width: 70%;
    min-width: 270px;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    border: 0;
    box-shadow: none
}

@media(min-width: 768px) {
    .cls-content .cls-content-sm {
        width:350px
    }

    .cls-content .cls-content-lg {
        width: 550px
    }
}

@media(min-width: 1200px) {
    #container.boxed-layout,#container.boxed-layout.navbar-fixed #navbar {
        background-color:#637a8b
    }

    #container.boxed-layout .boxed,#container.boxed-layout #footer {
        max-width: 1128px
    }

    #container.boxed-layout .boxed {
        margin: 45px auto 0
    }

    #container.boxed-layout #footer {
        margin: 0 auto;
        bottom: 0
    }

    #container.boxed-layout>.boxed {
        position: relative;
        overflow: hidden
    }

    #container.boxed-layout.reveal #content-container,#container.boxed-layout #content-container {
        min-height: 94vh
    }

    #container.boxed-layout #aside-container {
        min-height: 100%
    }

    #container.boxed-layout.mainnav-in:not(.slide)>#footer {
        left: 0!important;
        padding-left: 220px
    }

    #container.boxed-layout.mainnav-fixed:not(.navbar-fixed) #mainnav-container.affix-top {
        left: 0!important
    }

    #container.boxed-layout.mainnav-fixed.mainnav-in #mainnav-container {
        width: 220px;
        overflow: hidden
    }

    #container.boxed-layout.mainnav-fixed.mainnav-out:not(.reveal) #mainnav-container {
        width: 0
    }

    #container.boxed-layout.mainnav-fixed #mainnav-container.affix,#container.boxed-layout.mainnav-fixed #mainnav-container.affix-top {
        -webkit-transition-property: width;
        transition-property: width
    }

    #container.boxed-layout.mainnav-fixed .boxed {
        margin-bottom: 0
    }

    #container.boxed-layout.aside-fixed #aside-container {
        width: 0;
        overflow: hidden
    }

    #container.boxed-layout.aside-fixed.aside-in #aside-container {
        width: 255px;
        overflow: hidden
    }

    #container.boxed-layout.aside-fixed.aside-left.mainnav-lg #aside-container.affix-top {
        left: 220px
    }

    #container.boxed-layout.aside-fixed.aside-left.mainnav-sm #aside-container.affix-top {
        left: 50px
    }

    #container.boxed-layout.aside-fixed.mainnav-lg #aside-container.affix-top,#container.boxed-layout.aside-fixed.mainnav-sm #aside-container.affix-top {
        -ms-transform: translateX(0)!important;
        -webkit-transform: translateX(0)!important;
        transform: translateX(0)!important
    }

    #container.boxed-layout.footer-fixed .boxed {
        margin-bottom: 0
    }
}

@media(min-width: 1900px) {
    #container.boxed-layout .boxed,#container.boxed-layout #footer {
        max-width:1280px
    }
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.nano>.nano-content::-webkit-scrollbar {
    display: none
}

.nano>.nano-content:focus {
    outline: 0!important
}

.nano>.nano-pane {
    background-color: rgba(128,128,128,0.5);
    position: absolute;
    width: 4px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s
}

.nano>.nano-pane>.nano-slider {
    background-color: rgba(0,116,255,0.5);
    position: relative;
    margin: 0;
    border-radius: 0
}

.nano-hide.nano>.nano-pane {
    display: none!important
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
    display: block
}

.nano:hover>.nano-pane,.nano-pane.active,.nano-pane.flashed {
    opacity: .99
}

.pace .pace-progress,.nano>.nano-pane>.nano-slider {
    background-color: #0c80df
}

.pace .pace-progress-inner {
    box-shadow: 0 0 10px #42a5f5,0 0 5px #42a5f5
}

.pace .pace-activity {
    background-color: #42a5f5
}

.nano>.nano-pane>.nano-slider {
    opacity: .85
}

#navbar {
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #ecf0f5;
    left: 0;
    top: 0
}

#navbar-container {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2)
}

.navbar-header {
    left: 0;
    position: relative;
    float: none;
    background-color: #263238
}

.navbar-content {
    position: relative;
    left: 0;
    background-color: #fff
}

.navbar-aside-icon>*:before {
    background-color: #758697!important;
    box-shadow: 0 .45em 0 #758697,0 .9em 0 #758697!important
}

.navbar-brand {
    background-color: transparent;
    color: #fff;
    padding: 0;
    height: 40px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 220px
}

.navbar-brand:hover,.navbar-brand:focus {
    color: #fff
}

.brand-title,.brand-icon {
    display: block;
    line-height: 40px
}

.brand-icon {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px
}

.brand-text {
    display: block;
    font-size: 18px;
    font-weight: 600
}

.navbar-icon-color,.navbar-top-links>li>a:focus:not(.mainnav-toggle)>i,.navbar-top-links>li>a:hover:not(.mainnav-toggle)>i {
    color: #6d7e90;
    transition: color .4s
}

.navbar-top-links>li {
    float: left
}

.navbar-top-links>li>a {
    display: table-cell;
    padding: 0 12px;
    vertical-align: middle;
    height: 40px;
    color: #758697;
    transition: all .4s
}

.navbar-top-links>li>a:not(.mainnav-toggle)>i {
    color: #758697;
    transition: color .4s
}

.navbar-top-links>li>a:focus {
    background-color: transparent
}

.navbar-top-links>li>a:hover {
    background-color: #f2f2f2;
    color: #6f8193;
    transition: all .4s
}

.navbar-top-links>li>a>i {
    font-size: 1.2em;
    line-height: .75em
}

.navbar-top-links:first-child>li {
    border-right: 1px solid rgba(0,0,0,0.05)
}

.navbar-top-links:last-child>li {
    border-left: 1px solid rgba(0,0,0,0.05)
}

.navbar-top-links>.open>a,.navbar-top-links>.open>a:focus {
    background-color: #f2f2f2;
    color: #758697
}

.navbar-top-links .dropdown-menu .panel-body {
    padding: 0
}

.navbar-top-links .dropdown-menu .nano:not(.scrollable) {
    max-height: 180px
}

.navbar-top-links .dropdown-menu .nano:not(.scrollable) .nano-content {
    position: static
}

.navbar-top-links .tgl-menu-btn {
    position: absolute;
    top: -100%;
    right: 0
}

.navbar-top-links .tgl-menu-btn>a,.navbar-top-links .tgl-menu-btn>a:hover,.navbar-top-links .tgl-menu-btn>a:focus {
    color: #fff
}

.navbar-top-links .tgl-menu-btn>a:hover,.navbar-top-links .tgl-menu-btn a:focus {
    background-color: transparent
}

.navbar-top-links .head-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.navbar-top-links .head-list li a {
    display: block;
    padding: 10px 15px;
    background: transparent
}

.navbar-top-links .head-list li a:hover {
    background: rgba(0,0,0,0.05);
    color: #758697
}

.badge-header {
    position: absolute;
    font-size: .85em;
    font-weight: normal;
    top: 50%;
    margin-top: -1.5em;
    min-width: 1.85em;
    padding: 3px 5px;
    right: 3px
}

.badge-header:empty {
    display: inline;
    border-radius: 50%;
    min-width: 0;
    padding: 5px;
    right: .55em;
    top: 2.2em;
    animation-iteration-count: 5
}

.navbar-top-links .dropdown-menu .nano {
    max-height: 265px
}

.img-user {
    width: 32px;
    height: 32px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1)
}

#dropdown-user .ic-user {
    font-size: 1.5em;
    line-height: 40px
}

.username {
    float: right;
    white-space: nowrap;
    line-height: 40px;
    margin: 0 10px
}

@media(min-width: 768px) {
    #dropdown-user>.dropdown-toggle img {
        -webkit-transform:translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px)
    }

    #navbar {
        background-color: transparent
    }

    .navbar-header {
        float: left;
        background-color: transparent
    }

    .navbar-header:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 40px;
        background-color: #263238
    }

    #container.mainnav-out .navbar-header:before {
        width: 0
    }

    #container.mainnav-in .navbar-header:before {
        width: 100%
    }

    #navbar-container {
        background-color: #fff
    }

    .navbar-content {
        margin-left: 220px;
        background-color: transparent
    }

    #navbar .brand-title {
        padding: 0 1.5em 0 40px
    }

    #container.mainnav-in .navbar-brand,#container.mainnav-lg .navbar-brand,#container.mainnav-in .brand-title,#container.mainnav-lg .brand-title {
        width: 220px
    }

    #container.mainnav-in .brand-icon,#container.mainnav-sm .brand-icon,#container.mainnav-lg .brand-icon {
        background-color: transparent
    }

    #container.mainnav-in .brand-title,#container.mainnav-sm .brand-title,#container.mainnav-lg .brand-title {
        color: #fff
    }

    #container.effect .brand-title,#container.effect.mainnav-in .brand-title,#container.effect.mainnav-sm .brand-title,#container.effect.mainnav-lg .brand-title {
        transition: color .35s
    }

    .navbar-middle {
        position: static
    }

    .navbar-top-links .tgl-menu-btn {
        position: static
    }

    .navbar-top-links .tgl-menu-btn>a,.navbar-top-links .tgl-menu-btn>a:hover {
        color: #758697
    }

    .navbar-top-links .tgl-menu-btn>a:focus {
        background-color: transparent;
        color: #758697
    }
}

#container.navbar-fixed>#navbar {
    position: fixed
}

#container.navbar-fixed>#navbar .shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1)
}

#container.navbar-fixed .navbar-top-links .dropdown-menu .nano>.nano-content {
    position: absolute
}

@media(max-width: 760px) {
    #container.navbar-fixed .navbar-top-links .dropdown-menu .nano {
        max-height:110px
    }
}

#mainnav-container {
    position: absolute;
    width: 220px;
    left: -220px;
    padding-top: 40px;
    top: 0;
    bottom: 0;
    z-index: 4;
    min-height: 100%
}

#mainnav {
    height: 100%;
    background-color: #263238
}

#mainnav .list-header {
    font-weight: 600;
    color: #747e88
}

#mainnav .list-divider {
    border-color: rgba(0,0,0,0.1);
    margin: 10px 0
}

#mainnav-menu-wrap {
    height: 100%
}

#mainnav-shortcut {
    overflow: hidden
}

#container:not(.mainnav-sm) #mainnav-shortcut {
    margin-top: 10px;
    margin-bottom: 10px
}

#container:not(.mainnav-sm) #mainnav-menu-wrap>.nano>.nano-content {
    padding-top: 20px
}

#container:not(.mainnav-sm) #mainnav-menu {
    margin-top: 10px
}

#container:not(.mainnav-sm) .mainnav-profile {
    margin-top: -20px
}

.mainnav-sm .mainnav-profile {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0
}

.mainnav-profile {
    color: #fff;
    opacity: 1;
    margin-bottom: 7px;
    max-height: 350px
}

.mainnav-profile .mnp-name {
    color: #fff;
    margin: 0;
    font-size: 1em;
    font-weight: 600
}

.mainnav-profile .dropdown-caret,.mainnav-profile .mnp-desc {
    color: #fff;
    font-size: .9em
}

.mainnav-profile .profile-wrap {
    padding: 20px 15px 6px;
    background-color: #1b2529
}

#mainnav .mainnav-profile .list-group {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #202a2f;
    margin: 0
}

#mainnav .mainnav-profile .list-group-item {
    color: #abb1b7;
    padding: 12px 20px
}

#mainnav .mainnav-profile .list-group-item:hover {
    color: #fff;
    background-color: transparent
}

#mainnav-menu ul,.mainnav-widget ul,.menu-popover ul {
    list-style: none;
    padding-left: 0
}

#mainnav li .arrow {
    float: right;
    line-height: 1.42857
}

#mainnav li .arrow:before {
    content: '';
    border-style: solid;
    border-width: .1em .1em 0 0;
    display: inline-block;
    height: .4em;
    left: 0;
    position: relative;
    top: 0;
    width: .4em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#mainnav li.active>a>.arrow:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

#mainnav-menu a {
    display: block;
    color: #abb1b7;
    padding: 12px 20px
}

#mainnav-menu a strong {
    font-weight: 600
}

#mainnav-menu>li>a:hover,#mainnav-menu>li>a:active {
    color: #fff
}

#mainnav-menu>li>a.hover {
    color: #fff;
    background-color: #2c3a41;
    box-shadow: inset 2px 0 0 0 #0c80df
}

#mainnav-menu>.active-link>a,#mainnav-menu>.active-link>a:hover {
    color: #fff;
    padding-left: 20px;
    font-weight: 600;
    box-shadow: inset 2px 0 0 0 #0c80df
}

#mainnav-menu>.active-sub>a,#mainnav-menu>.active-sub>a:hover {
    color: #fff;
    font-weight: 600
}

#mainnav-menu>.active {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #202a2f
}

#mainnav-menu>.active .active {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #1c2429
}

#mainnav-menu ul .list-header {
    padding: 10px 20px 12px 55px
}

#mainnav-menu ul ul a {
    padding: 10px 20px 12px 65px
}

#mainnav-menu i {
    padding: 0 10px 0 0;
    font-size: 1.15em
}

#mainnav-menu .hide-lg {
    display: none
}

#mainnav-menu ul a,.menu-popover .sub-menu ul a {
    padding: 10px 20px 12px 53px
}

#mainnav-menu ul a:hover,.menu-popover .sub-menu ul a:hover {
    color: #fff
}

#mainnav-menu ul ul a:hover,.menu-popover .sub-menu ul ul a:hover {
    color: #fff
}

#mainnav-menu ul .active-link a,.menu-popover .sub-menu ul .active-link a {
    font-weight: 600;
    color: #fff;
    box-shadow: inset 2px 0 0 0 #0c80df
}

#container.mainnav-sm #mainnav-menu>.active-link>a,#container.mainnav-sm #mainnav-menu>.active-sub>a,#container.mainnav-sm #mainnav-menu>.active-link a:hover,#container.mainnav-sm #mainnav-menu>.active-sub a:hover {
    background-color: #0c80df;
    box-shadow: none
}

#mainnav-shortcut {
    max-height: 1.7em;
    overflow: hidden
}

#mainnav-shortcut ul {
    width: 100%;
    margin: 0;
    padding: 0
}

#mainnav-shortcut li {
    padding: 0;
    vertical-align: middle;
    text-align: center
}

#mainnav-shortcut .shortcut-grid {
    display: table;
    border: 0;
    width: 100%;
    height: 1.7em;
    color: #fff
}

#mainnav-shortcut .shortcut-grid>i {
    display: table-cell;
    vertical-align: middle;
    font-size: 15px
}

#mainnav-shortcut .shortcut-grid>span {
    display: table-cell;
    vertical-align: middle
}

#container.mainnav-sm #mainnav-shortcut {
    max-height: 250px
}

#container.mainnav-sm #mainnav-shortcut>ul>li {
    width: 100%;
    text-align: left
}

#container.mainnav-sm #mainnav-shortcut>ul>li .shortcut-grid {
    height: auto;
    display: block;
    padding: 12px 18.5px
}

#container.mainnav-sm #mainnav-shortcut>ul>li i {
    font-size: 13px;
    line-height: 1.42857
}

#container.mainnav-sm #mainnav-shortcut .shortcut-grid>.hide-sm {
    display: none
}

.mainnav-widget {
    background-color: rgba(0,0,0,0.05);
    color: #abb1b7
}

.mainnav-widget-content {
    padding: 10px 15px
}

.mainnav-widget .show-small a {
    display: none
}

#container.mainnav-fixed #mainnav-container {
    position: fixed
}

#container.mainnav-fixed #mainnav {
    height: 100%;
    height: 100vh
}

#container.mainnav-fixed #mainnav .nano-content {
    position: absolute
}

@media(min-width: 768px) {
    #container.mainnav-fixed #mainnav-menu-wrap {
        height:100%
    }

    #container.mainnav-sm #mainnav .menu-popover .nano>.nano-content {
        top: auto;
        max-height: 100%;
        position: absolute
    }

    #container.mainnav-sm #mainnav .menu-popover .nano-content {
        position: static
    }
}

#container.mainnav-fixed:not(.navbar-fixed) #mainnav-container.affix {
    top: -40px;
    position: fixed
}

#container.mainnav-fixed:not(.navbar-fixed) #mainnav-container.affix-top {
    top: 0;
    position: absolute
}

#container.mainnav-fixed:not(.navbar-fixed) #mainnav-container.affix-top #mainnav-menu-wrap>.nano>.nano-content {
    bottom: 40px
}

@media(min-width: 992px) {
    #container.mainnav-lg #mainnav-container {
        left:0
    }

    #container.mainnav-lg #footer,#container.mainnav-lg #content-container {
        padding-left: 220px
    }
}

@media(min-width: 768px) and (max-width:991px) {
    #container.mainnav-lg #content-container,#container.mainnav-lg #footer {
        left:220px
    }

    #container.mainnav-lg .tgl-menu-btn {
        right: 220px
    }

    #container.mainnav-lg #mainnav-container {
        left: 0
    }

    #container.mainnav-lg #mainnav-menu-wrap {
        height: 100%
    }
}

@media(min-width: 768px) {
    #mainnav-menu .list-header,#mainnav-menu .list-divider,#mainnav-menu .menu-title,#mainnav-menu .arrow,#mainnav-menu .menu-title>.label,#mainnav-menu .menu-title>.badge {
        opacity:1
    }

    .mainnav-sm #mainnav-menu .list-header,.mainnav-sm #mainnav-menu .list-divider,.mainnav-sm #mainnav-menu .menu-title,.mainnav-sm #mainnav-menu .arrow,.mainnav-sm #mainnav-menu .menu-title>.label,.mainnav-sm #mainnav-menu .menu-title>.badge {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        height: 0;
        opacity: 0
    }

    #container.mainnav-sm .brand-icon {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        transform: translateY(0)
    }

    #container.mainnav-sm .shortcut-grid:hover {
        box-shadow: inset 2px 0 0 0 #0c80df
    }

    #container.mainnav-sm .shortcut-grid:hover,#container.mainnav-sm .popover.mainnav-shortcut {
        background-color: #2c3a41;
        color: #fff
    }

    #container.mainnav-sm #mainnav-menu a {
        white-space: nowrap;
        position: relative;
        padding: 12px 0 12px 18.5px
    }

    #container.mainnav-sm #mainnav-menu a:hover {
        box-shadow: inset 2px 0 0 0 #0c80df
    }

    #container.mainnav-sm #mainnav-menu a .badge {
        margin-top: -1.5em
    }

    #container.mainnav-sm #mainnav-menu a .badge {
        position: absolute;
        padding: 3px 7px;
        right: 2px;
        top: 25%
    }

    #container.mainnav-sm #mainnav-menu a i {
        display: inline
    }

    #container.mainnav-sm #mainnav-menu .active-link>a,#container.mainnav-sm #mainnav-menu .active-sub>a {
        color: #fff
    }

    #container.mainnav-sm #mainnav-menu .collapse {
        display: none;
        height: 0!important
    }

    #container.mainnav-sm #mainnav-container,#container.mainnav-sm #navbar .navbar-brand {
        width: 50px;
        left: 0
    }

    #container.mainnav-sm #navbar .navbar-content {
        margin-left: 50px
    }

    #container.mainnav-sm #content-container,#container.mainnav-sm #footer {
        padding-left: 50px;
        left: 0
    }

    #container.mainnav-sm #mainnav {
        position: relative
    }

    #container.mainnav-sm #mainnav .mainnav-widget>.show-small a {
        display: block;
        color: #abb1b7;
        padding: 12px 0 12px 18.5px
    }

    #container.mainnav-sm #mainnav .mainnav-widget>.show-small a:hover {
        color: #fff;
        box-shadow: inset 2px 0 0 0 #0c80df;
        transition: background-color .2s,padding-left .3s,box-shadow .4s
    }

    #container.mainnav-sm #mainnav .mainnav-widget>.hide-small {
        display: none
    }

    #container.mainnav-sm #mainnav .mainnav-widget .hover {
        color: #fff;
        background-color: #2c3a41
    }

    .top-auto {
        top: auto!important
    }

    #mainnav .menu-popover .nano>.nano-content {
        position: absolute
    }

    #mainnav-menu ul ul a:hover,.menu-popover .sub-menu ul ul a:hover {
        background-color: rgba(0,0,0,0.0005)
    }

    .menu-popover {
        left: 50px!important
    }

    .menu-popover .sub-menu {
        overflow: hidden
    }

    .menu-popover .sub-menu .pop-in {
        display: block;
        visibility: visible
    }

    .menu-popover .sub-menu ul {
        background-color: #202a2f
    }

    .menu-popover .sub-menu ul ul {
        background-color: #1c2429
    }

    .menu-popover .sub-menu ul ul>li>a {
        padding-left: 27px
    }

    .menu-popover .sub-menu ul ul>li>a:hover {
        color: #fff
    }

    .menu-popover .sub-menu ul a:hover {
        color: #fff
    }

    .menu-popover .sub-menu ul li>a {
        display: block;
        color: #abb1b7;
        padding: 12px 17px
    }

    .menu-popover .single-content {
        color: #fff;
        background-color: #2c3a41
    }

    .menu-popover.popover {
        width: 220px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: #222d32;
        color: #fff;
        position: absolute;
        box-shadow: none;
        margin-left: 0
    }

    .menu-popover.popover.in {
        -webkit-animation: fadeIn .3s;
        animation: fadeIn .3s
    }

    .menu-popover>.popover-title {
        border: 0;
        border-radius: 0;
        padding: 14px 20px;
        background-color: #2c3a41;
        font-size: 1.05em;
        font-weight: 600;
        position: relative;
        z-index: 5;
        color: #fff
    }

    .menu-popover>.popover-title strong {
        font-weight: 300
    }

    .menu-popover>.popover-content {
        padding: 0;
        width: 100%;
        position: absolute;
        border-radius: 0
    }

    .menu-popover>.popover-content>.single-content {
        padding: 12px 14px;
        display: block;
        white-space: nowrap
    }

    .menu-popover>.popover-content>.single-content strong {
        font-weight: 300
    }

    .menu-popover>.popover-content>.single-content .label,.menu-popover>.popover-content>.single-content .badge {
        margin-left: 10px;
        float: none!important
    }

    .menu-popover ul {
        width: 220px;
        margin-bottom: 0
    }

    .menu-popover .mainnav-widget-content {
        background-color: #2c3a41
    }

    .menu-popover .mainnav-widget-content>.list-group {
        display: block;
        width: auto
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#container.mainnav-in.footer-fixed #footer,#container.mainnav-in #navbar,#container.mainnav-in #content-container,#container.mainnav-in #footer {
    left: 220px
}

#container.mainnav-out #content-container,#container.mainnav-in #mainnav-container {
    left: 0
}

#container.mainnav-in .navbar-header {
    left: -220px
}

#container.mainnav-in .tgl-menu-btn {
    right: 220px
}

#container.mainnav-in #mainnav-menu-wrap {
    height: 100%
}

@media(min-width: 768px) {
    #container.mainnav-in.easeInBack:not(.boxed-layout) #mainnav-container {
        box-shadow:-20px 0 0 0 #263238
    }

    #container.mainnav-in #navbar,#container.mainnav-in .navbar-header {
        left: 0
    }

    #container.mainnav-in .tgl-menu-btn {
        right: 0
    }

    #container.mainnav-in.aside-in #aside-container {
        right: -220px
    }

    #container.mainnav-out .brand-title {
        background-color: transparent;
        color: #758697
    }
}

@media(min-width: 768px) {
    #container.reveal #content-container {
        min-height:100vh
    }

    #container.mainnav-out.reveal #content-container,#container.mainnav-in.reveal #content-container {
        z-index: 7
    }

    #container.mainnav-in.reveal.aside-in #aside-container {
        right: -220px
    }

    #container.mainnav-in.reveal.aside-in #footer {
        left: 220px
    }

    #container.mainnav-out.reveal #aside-container,#container.mainnav-in.reveal #aside-container {
        z-index: 9
    }

    #container.mainnav-out.reveal.aside-left:not(.aside-in) #aside-container,#container.mainnav-in.reveal.aside-left:not(.aside-in) #aside-container {
        left: -220px
    }

    #container.mainnav-out.reveal #footer,#container.mainnav-in.reveal #footer {
        z-index: 8
    }

    #container.mainnav-out.reveal #mainnav-container {
        left: -220px
    }

    #container.mainnav-in.reveal.slide .navbar-header:before,#container.mainnav-out.reveal.slide .navbar-header:before,#container.mainnav-out.reveal:not(.slide) #mainnav-container,#container.mainnav-in.reveal:not(.slide) #mainnav-container {
        left: 0;
        -webkit-transition-duration: 0;
        transition-duration: 0
    }
}

@media(min-width: 768px) {
    #container.mainnav-in.slide #navbar,#container.mainnav-in.slide #content-container,#container.mainnav-in.slide #footer {
        left:0
    }

    #container.mainnav-in.slide.aside-in.aside-left #aside-container {
        left: 0
    }

    #container.mainnav-in.slide.aside-in #aside-container {
        right: 0
    }
}

#container #aside-container {
    padding: 0 20px;
    position: relative;
    top: 0;
    z-index: 3
}

#container #aside-container .nano-content {
    position: static;
    outline: 0
}

#container #aside .list-link li a:not(.btn) {
    color: #d1d1d1
}

#container #aside .list-link li a:not(.btn):hover {
    color: #fff
}

#container #aside .badge-stat {
    color: #32424a
}

#container #aside .text-main {
    color: #fff
}

#container.aside-float.aside-in #aside-container {
    box-shadow: 0 0 5px 6px rgba(0,0,0,0.15)
}

#aside {
    background-color: #32424a;
    color: #fff;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0)
}

#aside a:not(.btn):not(.btn-link) {
    color: inherit
}

#aside.aside-xs-in {
    max-height: none;
    overflow: hidden;
    margin-bottom: 70px
}

#aside .bord-all,#aside .bord-top,#aside .bord-btm,#aside .bord-left,#aside .bord-rgt,#aside .bord-hor,#aside .bord-ver,#aside .list-divider {
    border-color: #394a53
}

#aside .btn-link {
    color: #fff
}

#aside .text-muted {
    color: #849eab
}

#aside hr {
    border-color: rgba(0,0,0,0.15)
}

#aside-container #aside .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%
}

#aside-container #aside .nav-tabs li {
    border-bottom: 1px solid #28353b
}

#aside-container #aside .nav-tabs li>a {
    border-radius: 0;
    border: 0;
    background-color: #32424a;
    padding: .9em 0;
    margin: 0
}

#aside-container #aside .nav-tabs li>a>i {
    font-size: 1.35em;
    vertical-align: sub
}

#aside-container #aside .nav-tabs li>a:before {
    content: '';
    display: block;
    background: #42a5f5;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    right: 50%;
    transition: left .05s,right .05s
}

#aside-container #aside .nav-tabs li:first-child>a {
    border-left: 0
}

#aside-container #aside .nav-tabs li:last-child>a {
    border-right: 0
}

#aside-container #aside .nav-tabs li:not(.active) a {
    opacity: .5
}

#aside-container #aside .nav-tabs .active a:before {
    content: '';
    display: block;
    background: #42a5f5;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transition: left .15s,right .15s
}

#aside-container #aside .tab-content {
    padding: 5px 0
}

#container.aside-bright #aside .nav-tabs li {
    border-bottom: 1px solid #f2f2f2
}

#container.aside-bright #aside .nav-tabs li>a {
    background-color: #fff
}

@media(max-width: 760px) {
    #container>div>#aside-container {
        top:40px
    }

    #container.aside-left.aside-in #aside-container {
        left: 0;
        right: auto
    }

    #container.aside-left #aside-container {
        left: -255px;
        right: auto
    }

    #container.aside-left.mainnav-sm #content-container,#container.aside-left.mainnav-sm #footer {
        padding-left: 0
    }
}

@media(min-width: 768px) {
    #container.mainnav-sm.aside-left.aside-in #aside-container {
        left:50px;
        right: auto
    }

    #container.mainnav-sm.aside-left.aside-in #content-container,#container.mainnav-sm.aside-left.aside-in #footer {
        padding-left: 220px
    }

    div#container.mainnav-lg.aside-left.aside-in #content-container,div#container.mainnav-lg.aside-left.aside-in #footer {
        padding-left: 220px;
        text-align: left
    }
}

#aside {
    padding-top: 40px;
    visibility: visible;
    background-color: #32424a;
    height: 100%
}

#container #aside-container {
    padding: 0;
    position: absolute;
    width: 255px;
    height: auto;
    left: auto;
    right: -255px;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    overflow: hidden;
    z-index: 3
}

#container #aside-container .nano-content {
    position: absolute
}

#container #content-container,#container #footer {
    padding-right: 0
}

#container.mainnav-in:not(.slide) #footer,#container.mainnav-in #content-container {
    padding-right: 0
}

@media(min-width: 1024px) {
    #container.aside-in #aside {
        padding-top:40px
    }

    #container.aside-in:not(.aside-float) #content-container {
        padding-right: 255px
    }

    #container.aside-in.aside-left:not(.aside-float) #content-container,#container.aside-in.aside-left:not(.aside-float) #footer {
        padding-left: 255px;
        padding-right: 0
    }

    #container.aside-in:not(.aside-float) #content-container,#container.aside-in:not(.aside-float) #footer {
        padding-right: 255px
    }

    #container.aside-in.aside-left:not(.aside-float) #content-container,#container.aside-in.aside-left:not(.aside-float) #footer {
        padding-left: 255px;
        padding-right: 0
    }

    #container.aside-in.aside-left.mainnav-lg:not(.aside-float) #content-container,#container.aside-in.aside-left.mainnav-lg:not(.aside-float) #footer {
        padding-left: 475px;
        padding-right: 0
    }

    #container.aside-in.aside-left.mainnav-lg #aside-container {
        left: 220px;
        right: auto
    }

    #container.aside-in.aside-left.mainnav-sm:not(.aside-float) #content-container,#container.aside-in.aside-left.mainnav-sm:not(.aside-float) #footer {
        padding-left: 305px;
        padding-right: 0
    }

    #container.aside-in.aside-left.mainnav-sm #aside-container {
        left: 50px;
        right: auto
    }

    #container.aside-in.aside-left.mainnav-in #aside-container {
        left: 220px;
        right: auto
    }
}

#container.aside-in #aside-container {
    left: auto;
    right: 0
}

#container.aside-in.aside-left.mainnav-in #aside-container {
    left: 220px;
    right: auto
}

@media(min-width: 768px) {
    #container.aside-left #aside-container,#container.aside-in.aside-left #aside-container {
        left:0;
        right: auto
    }

    #container.aside-left.mainnav-sm #aside-container {
        left: -205px
    }

    #container.aside-left.mainnav-sm:not(.aside-float) #content-container,#container.aside-left.mainnav-sm:not(.aside-float) #footer {
        padding-left: 50px
    }

    #container.aside-left.mainnav-out:not(.aside-in) #aside-container {
        left: -220px
    }
}

#container.aside-fixed #aside-container {
    position: fixed
}

#container.aside-fixed #aside {
    height: 100%
}

#container.aside-fixed #aside .nano-content {
    position: absolute
}

#container.aside-fixed:not(.navbar-fixed) #aside-container.affix {
    top: -40px;
    position: fixed
}

#container.aside-fixed:not(.navbar-fixed) #aside-container.affix-top {
    top: 0;
    position: absolute
}

#container.aside-bright #aside {
    background-color: #fff;
    border: 1px solid #dbe3ec;
    color: #758697
}

#container.aside-bright #aside .badge-stat {
    color: #fff
}

#container.aside-bright #aside .text-main {
    color: #2b425b
}

#container.aside-bright #aside .text-light {
    color: #758697
}

#container.aside-bright #aside hr {
    border-color: #e9e9e9
}

#container.aside-bright #aside .bord-all,#container.aside-bright #aside .bord-top,#container.aside-bright #aside .bord-btm,#container.aside-bright #aside .bord-lft,#container.aside-bright #aside .bord-rgt,#container.aside-bright #aside .bord-hor,#container.aside-bright #aside .bord-ver,#container.aside-bright #aside .list-divider {
    border-color: #d3dce8
}

#container.aside-bright #aside .text-muted {
    color: #afb9c3
}

#container.aside-bright #aside .progress {
    background-color: #e6e6e6
}

#container.aside-bright #aside .list-link li a:not(.btn) {
    color: #8493a2
}

#container.aside-bright #aside .list-link li a:not(.btn):hover {
    color: #758697
}

#container.aside-bright #aside a:not(.btn) {
    color: #758697
}

#container.aside-bright #aside a:not(.btn):hover,#container.aside-bright #aside a:not(.btn):focus {
    color: #5d6d7c
}

#container.aside-bright #aside .btn-link {
    color: #758697
}

#footer {
    border-top: 1px solid rgba(0,0,0,0.07);
    background-color: #fff;
    color: #758697;
    position: absolute;
    padding-top: 13px;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    height: 45px
}

#footer p {
    margin-bottom: 5px;
    text-align: center
}

.footer-list {
    margin-bottom: 0
}

.footer-list>li {
    vertical-align: top
}

#container.footer-fixed #footer {
    left: 0;
    position: fixed;
    bottom: 0;
    margin-top: -35px;
    z-index: 1
}

#footer .show-fixed {
    display: none
}

#footer .hide-fixed {
    display: block;
    height: 100%
}

#container.footer-fixed #footer .show-fixed {
    display: block;
    height: 100%
}

#container.footer-fixed #footer .hide-fixed {
    display: none
}

.collapsing {
    transition-duration: 10ms
}

@media(min-width: 1200px) {
    .effect #navbar,.effect #content-container,.effect #mainnav-container,.effect #aside-container,.effect #footer,.effect .navbar-brand,.effect .navbar-content,.effect .navbar-header:before {
        transition-property:width,padding,left,right;
        transition-duration: .35s
    }

    .effect .navbar-content {
        transition-property: margin-left
    }

    .effect .mainnav-profile {
        transition: opacity .85s,max-height .35s
    }

    .effect #mainnav-shortcut {
        transition: max-height .7s
    }

    .effect #mainnav-shortcut li {
        transition: all .7s ease .1s
    }

    .effect#container.mainnav-sm #mainnav-shortcut {
        transition: max-height .7s linear .2s
    }

    .effect#container.mainnav-sm #mainnav-shortcut>ul>li {
        transition: all .5s ease
    }

    .mainnav-sm .effect #mainnav-menu .list-header,.mainnav-sm .effect #mainnav-menu .list-divider,.mainnav-sm .effect #mainnav-menu .menu-title,.mainnav-sm .effect #mainnav-menu .arrow,.mainnav-sm .effect #mainnav-menu .menu-title>.label {
        transition: opacity .5s,padding .5s linear .5s,color .1s,margin .5s linear .5s;
        transition-timing-function: cubic-bezier(0.28,1.02,0.36,1.145)
    }

    .effect .collapsing {
        transition-duration: .4s
    }

    .easeInQuart #navbar,.easeInQuart #content-container,.easeInQuart #mainnav-container,.easeInQuart #aside-container,.easeInQuart #footer,.easeInQuart .collapsing,.easeInQuart .navbar-brand,.easeInQuart .navbar-content,.easeInQuart .navbar-header:before {
        transition-duration: .35s;
        transition-timing-function: cubic-bezier(0.755,0.045,0.915,0.135)
    }

    .easeOutQuart #navbar,.easeOutQuart #content-container,.easeOutQuart #mainnav-container,.easeOutQuart #aside-container,.easeOutQuart #footer,.easeOutQuart .collapsing,.easeOutQuart .navbar-brand,.easeOutQuart .navbar-content,.easeOutQuart .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.015,0.77,0.04,0.985)
    }

    .easeInBack #navbar,.easeInBack #content-container,.easeInBack #mainnav-container,.easeInBack #aside-container,.easeInBack #footer,.easeInBack .collapsing,.easeInBack .navbar-brand,.easeInBack .navbar-content,.easeInBack .navbar-header:before {
        transition-duration: .35s;
        transition-timing-function: cubic-bezier(0.705,-0.155,0.735,0.045)
    }

    .easeOutBack #navbar,.easeOutBack #content-container,.easeOutBack #mainnav-container,.easeOutBack #aside-container,.easeOutBack #footer,.easeOutBack .collapsing,.easeOutBack .navbar-brand,.easeOutBack .navbar-content,.easeOutBack .navbar-header:before {
        transition-duration: .35s;
        transition-timing-function: cubic-bezier(0.28,1.02,0.36,1.145)
    }

    .easeInOutBack #navbar,.easeInOutBack #content-container,.easeInOutBack #mainnav-container,.easeInOutBack #aside-container,.easeInOutBack #footer,.easeInOutBack .collapsing,.easeInOutBack .navbar-brand,.easeInOutBack .navbar-content,.easeInOutBack .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(1,-0.28,0,1.275)
    }

    .steps #navbar,.steps #content-container,.steps #mainnav-container,.steps #aside-container,.steps #footer,.steps .collapsing,.steps .navbar-brand,.steps .navbar-content,.steps .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0,0.955,1,0.045)
    }

    .jumping #navbar,.jumping #content-container,.jumping #mainnav-container,.jumping #aside-container,.jumping #footer,.jumping .collapsing,.jumping .navbar-brand,.jumping .navbar-content,.jumping .navbar-header:before {
        transition-duration: .7s;
        transition-timing-function: cubic-bezier(0.135,1.525,0,0.9)
    }

    .rubber #navbar,.rubber #content-container,.rubber #mainnav-container,.rubber #aside-container,.rubber #footer,.rubber .collapsing,.rubber .navbar-brand,.rubber .navbar-content,.rubber .navbar-header:before {
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0,1.65,1,-0.6)
    }
}

.open.mega-dropdown {
    position: static
}

.open.mega-dropdown>.mega-dropdown-toggle:before,.open.mega-dropdown>.mega-dropdown-toggle:after {
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: block;
    height: 0;
    position: absolute;
    width: 0
}

.open.mega-dropdown>.mega-dropdown-toggle:before {
    border-bottom: 7px solid #d0d0d0;
    margin: -8px 0 0 0;
    bottom: -10px
}

.open.mega-dropdown>.mega-dropdown-toggle:after {
    border-bottom: 7px solid #fff;
    margin: -7px 0 0 0;
    bottom: -11px;
    z-index: 10000
}

.navbar-top-links>.mega-dropdown>.dropdown-menu.mega-dropdown-menu {
    left: 5px;
    right: 5px;
    max-width: 1250px
}

.dropdown-menu.mega-dropdown-menu {
    padding: 15px
}

.dropdown-menu.mega-dropdown-menu:after {
    content: '';
    display: table;
    clear: both
}

.dropdown-menu.mega-dropdown-menu .list-unstyled .dropdown-header {
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 4px
}

.dropdown-menu.mega-dropdown-menu .list-unstyled li a {
    display: block;
    padding: 4px;
    background-color: transparent
}

.dropdown-menu.mega-dropdown-menu .list-unstyled li a:not(.disabled-link):hover {
    background-color: rgba(0,0,0,0.05)
}

/*! ========================================================================*/
/*! Toggle Switch - v1.0 */
/*! A trowel component to display a switch */
/*! https://github.com/Trowel/switch/*!  */
/*! designed by Clément Menant (https://www.behance.net/clementmenant) and Loïc Goyet (https://twitter.com/earvinpepper) for AppVentus (http://appventus.com/) */
/*! Under MIT License */
/*! ========================================================================*/
/*! IMPROVEMENT BY JAIS ADMIN */
.toggle-switch {
    display: none
}

.toggle-switch+label {
    display: inline-block;
    position: relative;
    height: 16px;
    max-height: 1em;
    cursor: pointer;
    -webkit-touch-callout: none;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 40px;
    line-height: 16px
}

.toggle-switch+label:empty {
    padding-left: 30px
}

.toggle-switch+label:before {
    position: absolute;
    display: inline-block;
    left: 0;
    content: '';
    border-style: solid;
    width: 30px;
    height: 16px;
    border-width: 0;
    border-color: transparent;
    background-color: #afafaf;
    box-shadow: 0;
    border-radius: 8px;
    transition: all .3s
}

.toggle-switch+label:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    top: 1px;
    left: 1px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(51,51,51,0.25);
    border-radius: 16px;
    transition: left .3s,right .3s
}

.toggle-switch:checked+label:before {
    background-color: #4db446;
    transition: all .3s
}

.toggle-switch:checked+label:after {
    left: 15px;
    transition: left .3s,right .3s
}

.toggle-switch:disabled+label {
    cursor: no-drop
}

.toggle-switch:disabled+label:before {
    opacity: .3
}

.preload .toggle-switch+*,.preload .toggle-switch+*:before,.preload .toggle-switch+*:after {
    transition: 0!important
}

.select {
    position: relative;
    display: inline-block
}

.select:before {
    content: '';
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: #afb9c3;
    display: inline-block;
    height: 0;
    margin: 0 3px;
    vertical-align: middle;
    width: 0;
    position: absolute;
    right: .7em;
    top: 1em;
    z-index: 1
}

.select select {
    padding: 5px 2.5em 5px 10px;
    border: 1px solid #e9e9e9;
    border-radius: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: 0;
    background-color: #fff;
    color: inherit;
    font-size: 13px;
    line-height: 1.42857;
    vertical-align: middle;
    transition: border-color .5s
}

.select select:disabled {
    cursor: not-allowed;
    opacity: .65
}

.select select:focus {
    border-color: #42a5f5;
    transition: border-color .5s
}

.select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444
}

.select select::-ms-expand {
    display: none
}

.select select:disabled {
    opacity: .5;
    cursor: not-allowed
}

.pci-hor-dots,.pci-ver-dots {
    height: 1.2em;
    width: .85em;
    display: block;
    position: relative
}

#container .table th {
    font-size: 1.05em;
    font-weight: 600;
    border-bottom: 1px solid #e9e9e9;
    color: #2b425b
}

#container .table td {
    border-top: 1px solid #e9e9e9
}

#container .table.table-vcenter th,#container .table.table-vcenter td {
    vertical-align: middle
}

#container .table .min-width {
    width: 1%;
    white-space: nowrap;
    padding-left: 15px!important;
    padding-right: 15px!important
}

#container .table-bordered,#container .table-bordered td,#container .table-bordered th {
    border-color: #e9e9e9
}

#container .table-striped>tbody>tr:nth-child(2n+1) {
    background-color: #f8f9fa
}

#container .table-hover>tbody>tr:hover {
    background-color: #f2f4f6
}

.form-control {
    font-size: 13px;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s
}

.form-control:focus {
    border-color: #42a5f5;
    box-shadow: none;
    transition-duration: .5s
}

.form-control:focus-feedback {
    z-index: 10
}

.has-error .form-control,.has-warning .form-control,.has-success .form-control {
    box-shadow: none!important
}

i.form-control-feedback {
    line-height: 25px
}

.input-group-addon {
    border: 1px solid #e1e5ea;
    background-color: transparent;
    border-radius: 0;
    min-width: 45px
}

.nav-pills>li>a {
    border-radius: 0
}

.nav-pills>.active>a,.nav-pills>.active>a:hover,.nav-pills>.active>a:focus {
    background-color: #42a5f5
}

.nav-tabs>li>a {
    border-radius: 0
}

.list-group.bg-trans .list-group-item:not(.active):not(.disabled) {
    background-color: transparent;
    border-color: transparent;
    color: inherit
}

.list-group.bg-trans .list-group-item .disabled {
    opacity: .5
}

.list-group.bg-trans a.list-group-item:hover:not(.active) {
    background-color: rgba(0,0,0,0.05)
}

.list-group.bord-no .list-group-item {
    border-color: transparent
}

.list-group .list-divider {
    display: block
}

.list-group-item {
    border-color: #e9e9e9
}

.list-group-item,a.list-group-item,button.list-group-item,a.list-group-item:hover,a.list-group-item:focus,button.list-group-item:hover,button.list-group-item:focus {
    color: #758697
}

.list-group-item .list-group-item-heading,a.list-group-item .list-group-item-heading,button.list-group-item .list-group-item-heading {
    color: #2b425b
}

.list-group-item-heading {
    margin-top: 5px
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.list-group-item .list-group-item.disabled,.list-group-item .list-group-item.disabled:hover,.list-group-item .list-group-item.disabled:focus {
    background-color: rgba(0,0,0,0.07);
    border-color: transparent
}

.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus {
    background-color: #42a5f5;
    border-color: #42a5f5;
    color: #fff
}

.list-group-item.active .list-group-item-text,.list-group-item.active:hover .list-group-item-text,.list-group-item.active:focus .list-group-item-text {
    color: #fff
}

a.list-group-item:hover,a.list-group-item:focus {
    background-color: rgba(0,0,0,0.05)
}

a.list-group-item-primary,.list-group-item-primary {
    background-color: #64b5f7;
    border-color: transparent;
    color: #fff
}

a.list-group-item-primary:hover,a.list-group-item-primary:focus {
    background-color: #72bcf8;
    color: #fff
}

a.list-group-item-info,.list-group-item-info {
    background-color: #00dcf8;
    border-color: transparent;
    color: #fff
}

a.list-group-item-info:hover,a.list-group-item-info:focus {
    background-color: #08e3ff;
    color: #fff
}

a.list-group-item-success,.list-group-item-success {
    background-color: #9ccc65;
    border-color: transparent;
    color: #fff
}

a.list-group-item-success:hover,a.list-group-item-success:focus {
    background-color: #a4d070;
    color: #fff
}

a.list-group-item-warning,.list-group-item-warning {
    background-color: #ffb54a;
    border-color: transparent;
    color: #fff
}

a.list-group-item-warning:hover,a.list-group-item-warning:focus {
    background-color: #ffbc59;
    color: #fff
}

a.list-group-item-danger,.list-group-item-danger {
    background-color: #f27371;
    border-color: transparent;
    color: #fff
}

a.list-group-item-danger:hover,a.list-group-item-danger:focus {
    background-color: #f3817f;
    color: #fff
}

a.list-group-item-mint,.list-group-item-mint {
    background-color: #2dc3b5;
    border-color: transparent;
    color: #fff
}

a.list-group-item-mint:hover,a.list-group-item-mint:focus {
    background-color: #30d0c1;
    color: #fff
}

a.list-group-item-purple,.list-group-item-purple {
    background-color: #c682d2;
    border-color: transparent;
    color: #fff
}

a.list-group-item-purple:hover,a.list-group-item-purple:focus {
    background-color: #cb8dd6;
    color: #fff
}

a.list-group-item-pink,.list-group-item-pink {
    background-color: #ef6091;
    border-color: transparent;
    color: #fff
}

a.list-group-item-pink:hover,a.list-group-item-pink:focus {
    background-color: #f16e9a;
    color: #fff
}

a.list-group-item-dark,.list-group-item-dark {
    background-color: #34454d;
    border-color: transparent;
    color: #fff
}

a.list-group-item-dark:hover,a.list-group-item-dark:focus {
    background-color: #3b4d56;
    color: #fff
}

.label {
    border-radius: 0;
    font-weight: 600
}

.label:empty {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: sub
}

.label.label-fw {
    margin-right: .5em
}

.labels .label {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px
}

.label-md {
    font-size: 100%
}

.label-table {
    display: inline-block;
    width: 80%;
    min-width: 8ex;
    font-size: 1em;
    max-width: 100px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top
}

.label-default {
    background-color: #e3e8ee;
    color: #333
}

.label-primary {
    background-color: #42a5f5
}

.label-info {
    background-color: #00bcd4
}

.label-success {
    background-color: #8bc34a
}

.label-warning {
    background-color: #ffa726
}

.label-danger {
    background-color: #ef5350
}

.label-mint {
    background-color: #26a69a
}

.label-purple {
    background-color: #ba68c8
}

.label-pink {
    background-color: #ec407a
}

.label-dark {
    background-color: #263238
}

.breadcrumb {
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 10px;
    padding: 0 15px
}

.breadcrumb li,.breadcrumb li a {
    color: #afb9c3
}

.breadcrumb>li+li:before {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1
}

.breadcrumb .active {
    font-weight: normal
}

.alert {
    border-radius: 0;
    border: 0;
    padding: 15px 2em 15px 15px;
    position: relative
}

.alert .alert-link {
    text-decoration: underline;
    font-weight: 600
}

.alert .alert-link:hover {
    text-decoration: underline
}

.alert .close {
    font-size: 12.5px;
    text-shadow: none;
    opacity: .7;
    position: absolute;
    left: auto;
    right: 10px;
    top: 10px
}

.alert button.close {
    padding: 1px;
    border-radius: 20px;
    transition: all,0.3s
}

.alert button.close>span:not(.sr-only) {
    display: block;
    width: 1em;
    height: 1em;
    line-height: .8em
}

.alert button.close:hover {
    opacity: .55
}

.alert button.close:active {
    opacity: .3
}

.alert-primary {
    background-color: #6ab5f1;
    border-color: transparent;
    border-left: 3px solid #0f80db;
    color: #fff
}

.alert-primary .close,.alert-primary .alert-link {
    color: #fff
}

.alert-info {
    background-color: #1bc7dc;
    border-color: transparent;
    border-left: 3px solid #0c6f7b;
    color: #fff
}

.alert-info .close,.alert-info .alert-link {
    color: #fff
}

.alert-success {
    background-color: #9cc56c;
    border-color: transparent;
    border-left: 3px solid #648e33;
    color: #fff
}

.alert-success .close,.alert-success .alert-link {
    color: #fff
}

.alert-warning {
    background-color: #f9b450;
    border-color: transparent;
    border-left: 3px solid #d58003;
    color: #fff
}

.alert-warning .close,.alert-warning .alert-link {
    color: #fff
}

.alert-danger {
    background-color: #ed7876;
    border-color: transparent;
    border-left: 3px solid #db1c18;
    color: #fff
}

.alert-danger .close,.alert-danger .alert-link {
    color: #fff
}

.alert-mint {
    background-color: #35bbae;
    border-color: transparent;
    border-left: 3px solid #1a665f;
    color: #fff
}

.alert-mint .close,.alert-mint .alert-link {
    color: #fff
}

.alert-purple {
    background-color: #c288cc;
    border-color: transparent;
    border-left: 3px solid #9540a3;
    color: #fff
}

.alert-purple .close,.alert-purple .alert-link {
    color: #fff
}

.alert-pink {
    background-color: #e96793;
    border-color: transparent;
    border-left: 3px solid #c81853;
    color: #fff
}

.alert-pink .close,.alert-pink .alert-link {
    color: #fff
}

.alert-dark {
    background-color: #4f5e65;
    border-color: transparent;
    border-left: 3px solid #1d2428;
    color: #fff
}

.alert-dark .close,.alert-dark .alert-link {
    color: #fff
}

.modal {
    text-align: center
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    margin-left: -1em;
    vertical-align: middle
}

.modal.fade:not(.animated) .modal-dialog {
    opacity: 0;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    -webkit-transition: all .5s linear .5s;
    transition: all .5s linear .5s
}

.modal.fade.in:not(.animated) .modal-dialog {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .5s;
    transition: all .5s
}

.bootbox.modal.in:not(.fade) {
    opacity: 1;
    transition: opacity,0.5s
}

.bootbox.modal:not(.fade) {
    opacity: 0;
    -webkit-transition: opacity .5s linear .5s;
    transition: opacity .5s linear .5s
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-top: -1%;
    min-width: 90%
}

.modal-dialog.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s
}

.modal-header {
    padding: 15px;
    position: relative;
    border: 0
}

.modal-header:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.07)
}

.modal-footer {
    background-color: transparent;
    color: #758697;
    border-color: rgba(0,0,0,0.07);
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.modal-title {
    font-size: 1.2em;
    color: #2b425b
}

.modal-body {
    min-height: 90px
}

.modal-body>.close,.modal-header>.close {
    top: 50%;
    margin-top: -0.5em;
    right: 10px;
    left: auto;
    position: absolute;
    background-color: transparent!important
}

.modal-body>.close {
    top: 10px;
    margin-top: 0!important
}

.modal-content {
    box-shadow: none;
    border-radius: 0
}

.modal-footer {
    padding: 10px 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.modal-backdrop.in {
    opacity: .75
}

@media(min-width: 768px) {
    .modal-dialog {
        min-width:0
    }
}

.tooltip {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    z-index: 999999
}

.tooltip-inner {
    font-size: 13px;
    border-radius: 0;
    padding: 5px 10px;
    background-color: #263238
}

.tooltip.top .tooltip-arrow,.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow {
    border-top-color: #263238
}

.tooltip.right .tooltip-arrow {
    border-right-color: #263238
}

.tooltip.left .tooltip-arrow {
    border-left-color: #263238
}

.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #263238
}

.tooltip.in {
    opacity: 1
}

.tooltip h1,.tooltip h2,.tooltip h3,.tooltip h4,.tooltip h5,.tooltip h6,.tooltip .h1,.tooltip .h2,.tooltip .h3,.tooltip .h4,.tooltip .h5,.tooltip .h6 {
    color: inherit
}

.popover {
    font-family: inherit;
    font-size: 13px;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15)
}

.popover-title {
    background-color: transparent;
    color: #2b425b;
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    border-radius: 0
}

.popover>.arrow {
    border-width: 9px
}

.popover>.arrow:after {
    border-width: 9px
}

.popover.left>.arrow {
    right: -9px;
    margin-top: -9px
}

.popover.left>.arrow:after {
    bottom: -9px
}

.popover.right>.arrow {
    left: -9px;
    margin-top: -9px
}

.popover.right>.arrow:after {
    bottom: -9px
}

.popover.top>.arrow {
    bottom: -9px
}

.popover.top>.arrow:after {
    margin-left: -9px
}

.popover.bottom>.arrow {
    top: -9px
}

.popover.bottom>.arrow:after {
    margin-left: -9px
}

.popover-content {
    padding: 10px 15px 20px
}

#container .badge {
    color: #fff;
    font-size: .9em;
    font-weight: 600
}

.badge:empty.badge-icon {
    display: inline-block;
    width: .85em;
    height: .85em;
    padding: 0;
    min-width: 5px;
    margin: .5em;
    border-radius: 50%
}

.badge.badge-fw,.badge:empty.badge-fw {
    margin-right: 1em
}

.badge-stat {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 7px 0 0!important;
    box-shadow: 0 0 0 2px
}

.badge-default {
    background-color: #e3e8ee;
    color: #333
}

.badge-primary {
    background-color: #42a5f5
}

.badge-info {
    background-color: #00bcd4
}

.badge-success {
    background-color: #8bc34a
}

.badge-warning {
    background-color: #ffa726
}

.badge-danger {
    background-color: #ef5350
}

.badge-mint {
    background-color: #26a69a
}

.badge-purple {
    background-color: #ba68c8
}

.badge-pink {
    background-color: #ec407a
}

.badge-dark {
    background-color: #263238
}

.dropdown-header {
    font-weight: 600;
    font-size: 1.11em;
    color: #2b425b;
    padding: 5px 20px 5px 10px
}

.dropdown-toggle>.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 3px;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    vertical-align: baseline
}

.dropdown-toggle>.dropdown-caret.caret-up {
    border-width: 0 4px 6px 4px;
    border-bottom-color: initial;
    border-top-color: transparent
}

.dropdown-menu {
    font-size: 13px;
    border-radius: 0;
    box-shadow: 0 5px 12px 2px rgba(0,0,0,0.25);
    margin: 0;
    padding: 0;
    border: 0
}

.dropdown-menu>li>a {
    color: #758697
}

.dropdown-menu-right {
    left: auto;
    right: 0
}

.dropup .dropdown-menu {
    box-shadow: 0 -5px 12px 2px rgba(0,0,0,0.25)
}

.dropdown-menu:not(.head-list)>li>a {
    padding: 5px 10px
}

.dropdown-menu:not(.head-list)>li>a:hover {
    background-color: #42a5f5;
    color: #fff
}

.dropdown-menu.with-arrow:before,.dropdown-menu.with-arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent
}

.dropdown-menu.with-arrow:before {
    border-bottom: 7px solid #d0d0d0;
    margin: -7px 0 0 15px
}

.dropdown-menu.with-arrow:after {
    border-bottom: 7px solid #fff;
    margin: -6px 0 0 15px
}

.dropdown-menu-right.dropdown-menu.with-arrow:before {
    left: auto;
    right: 0;
    margin: -7px 25px 0 0
}

.dropdown-menu-right.dropdown-menu.with-arrow:after {
    left: auto;
    right: 0;
    margin: -6px 25px 0 0
}

.dropdown-menu-sm {
    min-width: 220px
}

.dropdown-menu-md {
    min-width: 270px
}

.dropdown-menu-lg {
    min-width: 300px
}

.dropdown.open>.btn,.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 1px rgba(0,0,0,0.3)
}

.well {
    background-color: #e5ebf1;
    border-color: #dbe3ec;
    border-radius: 0;
    box-shadow: none
}

.well-xs {
    padding: 5px
}

.pci-hor-dots:before,.pci-ver-dots:before {
    content: '';
    height: .27em;
    width: .27em;
    background-color: #758697;
    display: block;
    position: absolute;
    top: 0;
    left: .25em;
    box-shadow: 0 .45em 0 #758697,0 .9em 0 #758697
}

.pci-hor-dots {
    transform: rotate(90deg)
}

.pci-cross:after,.pci-cross:before {
    content: '';
    box-shadow: inset 0 0 0 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.pci-cross:after {
    height: .8em;
    width: 2px
}

.pci-cross:before {
    width: .78em;
    height: 2px
}

.pci-cross {
    display: block;
    border: 1px solid;
    width: 1.3em;
    height: 1.3em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.pci-circle {
    border-radius: 50%
}

.pci-chevron:before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: .75em;
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;
    width: .75em
}

.pci-chevron.chevron-up:before {
    transform: rotate(-45deg)
}

.pci-chevron.chevron-right:before {
    transform: rotate(45deg)
}

.pci-chevron.chevron-down:before {
    top: -0.5em;
    transform: rotate(135deg)
}

.pci-chevron.chevron-left:before {
    transform: rotate(-135deg)
}

.plan {
    text-align: center
}

.plan .plan-title {
    font-size: 2em;
    font-weight: 100
}

.plan .plan-icon {
    font-size: 7em;
    color: rgba(0,0,0,0.1)
}

.list-todo .form-checkbox input:checked ~ span {
    text-decoration: line-through;
    opacity: .7
}

.list-todo input:checked ~ label>span {
    text-decoration: line-through;
    opacity: .7
}

.progress {
    height: 12px;
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: none;
    background-color: rgba(0,0,0,0.1)
}

.progress-bar {
    font-size: 10px;
    background-color: #42a5f5;
    line-height: 1.05em;
    box-shadow: none
}

.progress-light-base {
    background-color: #fff
}

.progress-dark-base {
    background-color: rgba(255,255,255,0.2)
}

.progress-xl {
    height: 30px;
    margin-bottom: 20px
}

.progress-xl .progress-bar {
    font-size: 13px;
    line-height: 30px
}

.progress-lg {
    height: 20px;
    margin-bottom: 20px
}

.progress-lg .progress-bar {
    font-size: 13px;
    line-height: 20px
}

.progress-md {
    height: 8px;
    margin-bottom: 5px
}

.progress-md .progress-bar {
    font-size: 5px;
    line-height: 8px
}

.progress-sm {
    height: 4px;
    margin-bottom: 5px
}

.progress-sm .progress-bar {
    font-size: 0;
    line-height: 4px
}

.progress-xs {
    height: 2px;
    margin-bottom: 10px
}

.progress-xs .progress-bar {
    font-size: 0;
    line-height: 2px
}

.progress-bar-light {
    background-color: #fff
}

.progress-bar-primary {
    background-color: #42a5f5
}

.progress-bar-info {
    background-color: #00bcd4
}

.progress-bar-success {
    background-color: #8bc34a
}

.progress-bar-warning {
    background-color: #ffa726
}

.progress-bar-danger {
    background-color: #ef5350
}

.progress-bar-mint {
    background-color: #26a69a
}

.progress-bar-purple {
    background-color: #ba68c8
}

.progress-bar-pink {
    background-color: #ec407a
}

.progress-bar-dark {
    background-color: #263238
}

.bg-trans {
    background-color: transparent
}

.bg-light {
    background-color: #fff
}

.bg-light,.bg-light a {
    color: #758697
}

.bg-gray-light {
    background-color: #f5f6f8
}

.bg-gray-light,.bg-gray-light a {
    color: #758697
}

.bg-gray {
    background-color: #e6eaed
}

.bg-gray,.bg-gray a {
    color: #758697
}

.bg-gray-dark {
    background-color: #c8d1d8
}

.bg-gray-dark,.bg-gray-dark a {
    color: #758697
}

.bg-trans-light {
    background-color: rgba(255,255,255,0.1)
}

.bg-trans-light,.bg-trans-light a {
    color: inherit
}

.bg-trans-dark {
    background-color: rgba(0,0,0,0.05)
}

.bg-trans-dark,.bg-trans-dark a {
    color: inherit
}

.bg-primary {
    background-color: #42a5f5
}

.bg-primary,.bg-primary a {
    color: #fff
}

.bg-info {
    background-color: #00bcd4
}

.bg-info,.bg-info a {
    color: #fff
}

.bg-success {
    background-color: #8bc34a
}

.bg-success,.bg-success a {
    color: #fff
}

.bg-warning {
    background-color: #ffa726
}

.bg-warning,.bg-warning a {
    color: #fff
}

.bg-danger {
    background-color: #ef5350
}

.bg-danger,.bg-danger a {
    color: #fff
}

.bg-mint {
    background-color: #26a69a
}

.bg-mint,.bg-mint a {
    color: #fff
}

.bg-purple {
    background-color: #ba68c8
}

.bg-purple,.bg-purple a {
    color: #fff
}

.bg-pink {
    background-color: #ec407a
}

.bg-pink,.bg-pink a {
    color: #fff
}

.bg-dark {
    background-color: #263238
}

.bg-dark,.bg-dark a {
    color: #fff
}

.text-light,a.text-light:hover,a.text-light:focus {
    color: #fff
}

.text-muted,a.text-muted:hover,a.text-muted:focus {
    color: #afb9c3
}

.text-primary,a.text-primary:hover,a.text-primary:focus {
    color: #128ef2
}

.text-info,a.text-info:hover,a.text-info:focus {
    color: #008fa1
}

.text-success,a.text-success:hover,a.text-success:focus {
    color: #71a436
}

.text-warning,a.text-warning:hover,a.text-warning:focus {
    color: #f29000
}

.text-danger,a.text-danger:hover,a.text-danger:focus {
    color: #eb2521
}

.text-main,a.text-main:hover,a.text-main:focus {
    color: #2b425b
}

.text-mint,a.text-mint:hover,a.text-mint:focus {
    color: #1c7d74
}

.text-purple,a.text-purple:hover,a.text-purple:focus {
    color: #a844b9
}

.text-pink,a.text-pink:hover,a.text-pink:focus {
    color: #e2175b
}

.text-dark,a.text-dark:hover,a.text-dark:focus {
    color: #11171a
}

.btn {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 1.42857;
    vertical-align: middle;
    transition: all .25s
}

.btn:not(.disabled):not(:disabled):active,.btn:not(.disabled):not(:disabled).active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2)
}

.btn-lg,.btn-icon.btn-lg {
    font-size: 17px;
    line-height: 1.33
}

.btn-sm,.btn-icon.btn-sm {
    font-size: 11px;
    line-height: 1.5
}

.btn-xs,.btn-icon.btn-xs {
    font-size: 11px;
    line-height: 1.5
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px
}

.btn-icon>i,.btn-icon:before {
    display: inline-block;
    min-width: 1.05em
}

.btn-file {
    position: relative;
    overflow: hidden
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: 0;
    background: white;
    cursor: inherit;
    display: block
}

.btn-link {
    border-color: transparent
}

.btn.btn-link:focus,.btn.btn-link:active {
    box-shadow: none
}

.btn-link.disabled:hover,.btn-link.disabled:focus {
    text-decoration: none
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #afb9c3
}

.btn-trans:focus,.btn-trans:active {
    box-shadow: none!important
}

.btn-default-basic,.btn-default,.btn-default:focus,.btn-default.disabled:hover,.btn-default:disabled:hover,.btn-hover-default:hover,.btn-hover-default:active,.btn-hover-default.active,.btn.btn-active-default:active,.btn.btn-active-default.active,.dropdown.open>.btn.btn-active-default,.btn-group.open .dropdown-toggle.btn.btn-active-default {
    background-color: #fafafa;
    border-color: #d1d9de;
    color: #758697
}

.btn-default:hover,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-color: #e8e8e8;
    border-color: #d1d9de;
    color: #758697
}

.btn-primary-basic,.btn-primary,.btn-primary:focus,.btn-primary.disabled:hover,.btn-primary:disabled:hover,.btn-hover-primary:hover,.btn-hover-primary:active,.btn-hover-primary.active,.btn.btn-active-primary:active,.btn.btn-active-primary.active,.dropdown.open>.btn.btn-active-primary,.btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: #38a0f4;
    border-color: #42a5f5;
    color: #fff
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    background-color: #1690f3;
    border-color: #2095f3;
    color: #fff
}

.btn-info-basic,.btn-info,.btn-info:focus,.btn-info.disabled:hover,.btn-info:disabled:hover,.btn-hover-info:hover,.btn-hover-info:active,.btn-hover-info.active,.btn.btn-active-info:active,.btn.btn-active-info.active,.dropdown.open>.btn.btn-active-info,.btn-group.open .dropdown-toggle.btn.btn-active-info {
    background-color: #00b3ca;
    border-color: #00bcd4;
    color: #fff
}

.btn-info:hover,.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info {
    background-color: #0093a6;
    border-color: #009cb0;
    color: #fff
}

.btn-success-basic,.btn-success,.btn-success:focus,.btn-success.disabled:hover,.btn-success:disabled:hover,.btn-hover-success:hover,.btn-hover-success:active,.btn-hover-success.active,.btn.btn-active-success:active,.btn.btn-active-success.active,.dropdown.open>.btn.btn-active-success,.btn-group.open .dropdown-toggle.btn.btn-active-success {
    background-color: #86c042;
    border-color: #8bc34a;
    color: #fff
}

.btn-success:hover,.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success {
    background-color: #74a838;
    border-color: #79af3a;
    color: #fff
}

.btn-warning-basic,.btn-warning,.btn-warning:focus,.btn-warning.disabled:hover,.btn-warning:disabled:hover,.btn-hover-warning:hover,.btn-hover-warning:active,.btn-hover-warning.active,.btn.btn-active-warning:active,.btn.btn-active-warning.active,.dropdown.open>.btn.btn-active-warning,.btn-group.open .dropdown-toggle.btn.btn-active-warning {
    background-color: #ffa31c;
    border-color: #ffa726;
    color: #fff
}

.btn-warning:hover,.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning {
    background-color: #f79300;
    border-color: #ff9902;
    color: #fff
}

.btn-danger-basic,.btn-danger,.btn-danger:focus,.btn-danger.disabled:hover,.btn-danger:disabled:hover,.btn-hover-danger:hover,.btn-hover-danger:active,.btn-hover-danger.active,.btn.btn-active-danger:active,.btn.btn-active-danger.active,.dropdown.open>.btn.btn-active-danger,.btn-group.open .dropdown-toggle.btn.btn-active-danger {
    background-color: #ee4a47;
    border-color: #ef5350;
    color: #fff
}

.btn-danger:hover,.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger {
    background-color: #eb2a26;
    border-color: #ec332f;
    color: #fff
}

.btn-mint-basic,.btn-mint,.btn-mint:focus,.btn-mint.disabled:hover,.btn-mint:disabled:hover,.btn-hover-mint:hover,.btn-hover-mint:active,.btn-hover-mint.active,.btn.btn-active-mint:active,.btn.btn-active-mint.active,.dropdown.open>.btn.btn-active-mint,.btn-group.open .dropdown-toggle.btn.btn-active-mint {
    background-color: #249e92;
    border-color: #26a69a;
    color: #fff
}

.btn-mint:hover,.btn-mint:active,.btn-mint.active,.open>.dropdown-toggle.btn-mint {
    background-color: #1d8177;
    border-color: #1f897f;
    color: #fff
}

.btn-purple-basic,.btn-purple,.btn-purple:focus,.btn-purple.disabled:hover,.btn-purple:disabled:hover,.btn-hover-purple:hover,.btn-hover-purple:active,.btn-hover-purple.active,.btn.btn-active-purple:active,.btn.btn-active-purple.active,.dropdown.open>.btn.btn-active-purple,.btn-group.open .dropdown-toggle.btn.btn-active-purple {
    background-color: #b761c5;
    border-color: #ba68c8;
    color: #fff
}

.btn-purple:hover,.btn-purple:active,.btn-purple.active,.open>.dropdown-toggle.btn-purple {
    background-color: #ab46bc;
    border-color: #ae4ebe;
    color: #fff
}

.btn-pink-basic,.btn-pink,.btn-pink:focus,.btn-pink.disabled:hover,.btn-pink:disabled:hover,.btn-hover-pink:hover,.btn-hover-pink:active,.btn-hover-pink.active,.btn.btn-active-pink:active,.btn.btn-active-pink.active,.dropdown.open>.btn.btn-active-pink,.btn-group.open .dropdown-toggle.btn.btn-active-pink {
    background-color: #eb3774;
    border-color: #ec407a;
    color: #fff
}

.btn-pink:hover,.btn-pink:active,.btn-pink.active,.open>.dropdown-toggle.btn-pink {
    background-color: #e7175d;
    border-color: #e92063;
    color: #fff
}

.btn-dark-basic,.btn-dark,.btn-dark:focus,.btn-dark.disabled:hover,.btn-dark:disabled:hover,.btn-hover-dark:hover,.btn-hover-dark:active,.btn-hover-dark.active,.btn.btn-active-dark:active,.btn.btn-active-dark.active,.dropdown.open>.btn.btn-active-dark,.btn-group.open .dropdown-toggle.btn.btn-active-dark {
    background-color: #222d32;
    border-color: #263238;
    color: #fff
}

.btn-dark:hover,.btn-dark:active,.btn-dark.active,.open>.dropdown-toggle.btn-dark {
    background-color: #131a1d;
    border-color: #181f23;
    color: #fff
}

.btn-group-vertical .btn:not(.btn-default),.btn-group .btn:not(.btn-default) {
    border-color: rgba(0,0,0,0.09)
}

.btn-lg,.btn-group-lg>.btn,.btn-icon.btn-lg {
    padding: 10px 16px
}

.btn-sm,.btn-group-sm>.btn,.btn-icon.btn-sm {
    padding: 5px 10px
}

.btn-xs,.btn-group-xs>.btn,.btn-icon.btn-xs {
    padding: 1px 5px
}

.btn-lg,.btn-group-lg>.btn,.btn-icon.btn-lg {
    border-radius: 0
}

.btn-lg,.btn-group-sm>.btn,.btn-lg,.btn-group-xs>.btn,.btn-icon.btn-lg,.btn-icon.btn-lg {
    border-radius: 0
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.btn-circle {
    padding: 7px;
    border-radius: 50%
}

.btn-lg.btn-circle {
    padding: 17px
}

.btn-sm.btn-circle {
    padding: 7px
}

.btn-xs.btn-circle {
    padding: 4px
}

.btn-icon.btn-circle:before,.btn-icon.btn-circle>i {
    display: block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4
}

.btn-rounded {
    border-radius: 17px;
    overflow: hidden
}

.btn-lg.btn-rounded {
    border-radius: 30px
}

.btn-sm.btn-rounded {
    border-radius: 15px
}

.btn-xs.btn-rounded {
    border-radius: 10px
}

.btn-group.btn-rounded {
    overflow: hidden
}

.btn-labeled,.btn-labeled.fa {
    overflow: hidden
}

.btn-labeled:not(.btn-block):not(.form-icon) {
    font-family: inherit;
    font-size: 13px;
    line-height: 1.42857;
    padding-bottom: 0;
    padding-top: 0
}

.btn-block.btn-labeled:not(.form-icon) {
    font-family: inherit;
    font-size: 13px;
    line-height: 1.42857
}

.btn-block.btn-labeled:not(.form-icon):before {
    float: left;
    margin-top: -7px;
    margin-bottom: -7px
}

.btn-labeled .btn-label {
    background-color: rgba(0,0,0,0.05);
    display: inline-block;
    margin-left: -12px;
    margin-right: 6px;
    padding: 6px 12px;
    line-height: 1.42857
}

.btn-labeled:before {
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    margin-left: -12px;
    margin-right: 6px;
    padding: 6px 12px;
    line-height: 1.42857
}

.btn-labeled.fa:before,.btn-labeled .fa:before {
    font-family: fontAwesome
}

.btn-default.btn-labeled:before,.btn-default .btn-label {
    background-color: rgba(0,0,0,0.05);
    color: inherit
}

.btn-lg.btn-labeled {
    font-size: 18px;
    line-height: 1.33
}

.btn-sm.btn-labeled {
    font-size: 12px;
    line-height: 1.5
}

.btn-xs.btn-labeled {
    font-size: 12px;
    line-height: 1.5
}

.btn-lg.btn-labeled:before,.btn-lg .btn-label {
    margin-left: -16px;
    margin-right: 10px;
    padding: 10px 16px
}

.btn-lg.btn-block.btn-labeled:not(.form-icon):before {
    margin-top: -10px;
    margin-bottom: -10px
}

.btn-sm.btn-labeled:before,.btn-sm .btn-label {
    margin-left: -10px;
    margin-right: 5px;
    padding: 5px 10px
}

.btn-sm.btn-block.btn-labeled:not(.form-icon):before {
    margin-top: -5px;
    margin-bottom: -5px
}

.btn-xs.btn-labeled:before,.btn-xs .btn-label {
    margin-left: -5px;
    margin-right: 1px;
    padding: 1px 5px
}

.btn-xs.btn-block.btn-labeled:not(.form-icon):before {
    margin-top: -1px;
    margin-bottom: -1px
}

.btn-labeled.icon-2x:before,.btn-labeled .btn-label.icon-2x:before {
    vertical-align: -0.15em
}

.btn-labeled.icon-3x:before,.btn-labeled .btn-label.icon-3x:before {
    vertical-align: -0.18em
}

.btn-labeled.icon-4x:before,.btn-labeled .btn-label.icon-4x:before {
    vertical-align: -0.2em
}

.btn-labeled.icon-5x:before,.btn-labeled .btn-label.icon-5x:before {
    vertical-align: -0.25em
}

.list-item-xl {
    padding: 20px 15px
}

.box-block {
    display: block;
    float: right;
    width: 128px;
    padding-top: 4px
}

.box-inline {
    display: inline-block
}

.box-vmiddle {
    display: inline-block;
    max-width: 500px;
    vertical-align: middle;
    margin-bottom: 15px
}

.box-vmiddle-wrap:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -15px
}

.bord-no {
    border: 0!important
}

.bord-all {
    border: 1px solid #e9e9e9
}

.bord-top {
    border-top: 1px solid #e9e9e9
}

.bord-btm {
    border-bottom: 1px solid #e9e9e9
}

.bord-lft {
    border-left: 1px solid #e9e9e9
}

.bord-rgt {
    border-right: 1px solid #e9e9e9
}

.bord-ver {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9
}

.bord-hor {
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9
}

.text-thin {
    font-weight: 300
}

.text-normal {
    font-weight: normal
}

.text-semibold {
    font-weight: 600
}

.text-bold {
    font-weight: 700
}

.text-5x,.text-4x,.text-5x,.text-2x,.text-lg,.text-sm,.text-xs {
    line-height: 1.25;
    font-size: 4em
}

.text-4x {
    font-size: 4em
}

.text-3x {
    font-size: 3em
}

.text-2x {
    font-size: 2em
}

.text-lg {
    font-size: 1.2em
}

.text-sm {
    font-size: .9em
}

.text-xs {
    font-size: .8em
}

.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.text-unit {
    font-size: 15px;
    vertical-align: top;
    line-height: 1.5em
}

.unselectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.unselectable ::selection {
    background-color: transparent;
    color: inherit
}

.unselectable ::-moz-selection {
    background-color: transparent;
    color: inherit
}

.text-justify {
    text-align: justify
}

.text-justify:after {
    content: '';
    display: inline-block;
    width: 100%
}

@media(min-width: 1200px) {
    .text-lg-right {
        text-align:right
    }

    .text-lg-center {
        text-align: center
    }

    .text-lg-left {
        text-align: left
    }
}

@media(min-width: 992px) and (max-width:1200px) {
    .text-md-right {
        text-align:right
    }

    .text-md-center {
        text-align: center
    }

    .text-md-left {
        text-align: left
    }
}

@media(min-width: 768px) and (max-width:992px) {
    .text-sm-right {
        text-align:right
    }

    .text-sm-center {
        text-align: center
    }

    .text-sm-left {
        text-align: left
    }
}

@media(max-width: 760px) {
    .text-xs-right {
        text-align:right
    }

    .text-xs-center {
        text-align: center
    }

    .text-xs-left {
        text-align: left
    }
}

.icon-wrap {
    display: inline-block;
    padding: 10px;
    border-radius: 2px
}

.icon-wrap i {
    display: block;
    line-height: 1em;
    text-align: center;
    position: relative;
    width: 1em;
    padding-top: 1em;
    vertical-align: middle
}

.icon-wrap i:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.icon-wrap .icon-txt {
    display: block;
    line-height: 1em;
    text-align: center;
    position: relative;
    width: 1em;
    vertical-align: top
}

.icon-wrap-lg {
    padding: 20px
}

.icon-wrap-md {
    padding: 17px
}

.icon-wrap-sm {
    padding: 12px
}

.icon-wrap-xs {
    padding: 7px
}

.icon-circle {
    border-radius: 50%
}

.icon-fw {
    width: 1.33em;
    margin-right: 4px;
    text-align: center
}

.icon-lg {
    font-size: 1.333em;
    line-height: 1.095em;
    vertical-align: middle
}

.icon-2x {
    font-size: 2em;
    line-height: 1em
}

.icon-3x {
    font-size: 3em;
    line-height: 1em
}

.icon-4x {
    font-size: 4em;
    line-height: 1em
}

.icon-5x {
    font-size: 5em;
    line-height: 1em
}

.img-mar {
    margin: 5px
}

.img-border {
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1)
}

.img-border-light {
    box-shadow: 0 0 0 4px #fff
}

.img-xs {
    width: 32px;
    height: 32px
}

.img-md {
    width: 64px;
    height: 64px
}

.img-sm {
    width: 46px;
    height: 46px
}

.img-lg {
    width: 96px;
    height: 96px
}

.img-holder img {
    max-width: 100%;
    border-radius: 0
}

.mar-no {
    margin: 0!important
}

.mar-all {
    margin: 15px
}

.mar-top {
    margin-top: 15px
}

.mar-btm {
    margin-bottom: 15px
}

.mar-lft {
    margin-left: 15px
}

.mar-rgt {
    margin-right: 15px
}

.mar-hor {
    margin-left: 15px;
    margin-right: 15px
}

.mar-ver {
    margin-top: 15px;
    margin-bottom: 15px
}

.pad-no {
    padding: 0!important
}

.pad-all {
    padding: 15px
}

.pad-top {
    padding-top: 15px
}

.pad-btm {
    padding-bottom: 15px
}

.pad-lft {
    padding-left: 15px
}

.pad-rgt {
    padding-right: 15px
}

.pad-hor {
    padding-left: 15px;
    padding-right: 15px
}

.pad-ver {
    padding-top: 15px;
    padding-bottom: 15px
}
